2.4.1.json
[{"id":"90862c79.6c40d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d9b23172.86222","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload = msg.req.params.value;\nflow.set('place', msg.req.params.place);\nflow.set('lang', msg.req.params.lang);\nmsg.srclang = flow.get('lang');\nmsg.destlang = 'en';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["75a0c4d8.4245bc"]]},{"id":"b1295931.504e88","type":"http response","z":"90862c79.6c40d","name":"Responce","statusCode":"","headers":{},"x":1580,"y":600,"wires":[]},{"id":"514f2e74.57957","type":"http in","z":"90862c79.6c40d","name":"","url":"/watson/:value","method":"get","upload":true,"swaggerDoc":"","x":170,"y":420,"wires":[["d9b23172.86222","2a057a52.9de2f6"]]},{"id":"da1db275.1d4c7","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"WINE_FILTERING","vt":"str"},{"t":"eq","v":"WINE_PAIRING","vt":"str"},{"t":"eq","v":"EXIT","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":850,"y":420,"wires":[["6409d5bc.b72a6c"],["475545ea.fa6dbc","7918cb37.5e7614"],["809b4e94.8f89d"],["8afad330.4c8b9"]]},{"id":"d6cc0ebb.66e23","type":"debug","z":"90862c79.6c40d","name":"Filtering","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1910,"y":280,"wires":[]},{"id":"e3e27dde.83ac1","type":"debug","z":"90862c79.6c40d","name":"Otherwise","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.intents[0].intent","targetType":"msg","x":1590,"y":640,"wires":[]},{"id":"68ed04bc.1deddc","type":"debug","z":"90862c79.6c40d","name":"Pairing","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1820,"y":600,"wires":[]},{"id":"aaf18844.5277e8","type":"http request","z":"90862c79.6c40d","name":"Wine Pairing","method":"GET","ret":"obj","paytoqs":false,"url":"ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/dishes","tls":"","proxy":"","authType":"basic","x":1350,"y":420,"wires":[["807464bd.85b6f8"]]},{"id":"db08b232.4db72","type":"http request","z":"90862c79.6c40d","name":"Wine filter","method":"GET","ret":"obj","paytoqs":false,"url":"http://ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/top_wine/places/1333/filter?wine_area_name=Italy","tls":"","proxy":"","authType":"basic","x":1340,"y":240,"wires":[["540dcd50.8b4b34","ea898cbb.2473"]]},{"id":"d754514d.83539","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":840,"y":480,"wires":[]},{"id":"3c7eba61.083f46","type":"http response","z":"90862c79.6c40d","name":"","statusCode":"","headers":{},"x":1890,"y":240,"wires":[]},{"id":"867aa8db.19f228","type":"http response","z":"90862c79.6c40d","name":"","statusCode":"","headers":{},"x":1810,"y":560,"wires":[]},{"id":"6409d5bc.b72a6c","type":"function","z":"90862c79.6c40d","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'wines');\n// msg.payload.max_price = msg.payload.context;\nmsg.payload = {wine_area_name: 'Italy', max_price: '70'};\n// msg.payload.max_price = '50';\n// msg.payload.wine_area_name = 'Italy';\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":240,"wires":[["db08b232.4db72"]]},{"id":"7918cb37.5e7614","type":"function","z":"90862c79.6c40d","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'dishes');\nflow.set('context', msg.payload.context);\nmsg.payload = msg.payload.context;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":420,"wires":[["aaf18844.5277e8"]]},{"id":"8afad330.4c8b9","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.response = msg.payload.output.generic;\nmsg.payload.type = 'other';\nmsg.srclang = 'en';\nmsg.destlang = flow.get('lang');\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":600,"wires":[["e3e27dde.83ac1","a3778456.492cc8"]]},{"id":"540dcd50.8b4b34","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nmsg.srclang = 'en';\nmsg.destlang = flow.get('lang');\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":240,"wires":[["d6cc0ebb.66e23","3cdb317.cc6a7ce"]]},{"id":"807464bd.85b6f8","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nmsg.srclang = 'en';\nmsg.destlang = flow.get('lang');\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":420,"wires":[["68ed04bc.1deddc","3fb381c5.41a96e","957b0869.66a9e8","282d852.406377a"]]},{"id":"377acdc6.cea182","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.context.get_wines","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":200,"wires":[[],[]]},{"id":"ea898cbb.2473","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.get_dishes = 'false';\nmsg.payload.intent = 'WINE_PAIRING';\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":200,"wires":[["957b0869.66a9e8"]]},{"id":"3fb381c5.41a96e","type":"function","z":"90862c79.6c40d","name":"","func":"// msg.payload.intent = \"WINE_PAIRING\";\n// msg.payload.get_dishes = \"true\";\n// return msg;","outputs":1,"noerr":0,"x":1730,"y":420,"wires":[["8dc67cb2.6a703"]]},{"id":"8dc67cb2.6a703","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1940,"y":420,"wires":[]},{"id":"475545ea.fa6dbc","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.context.get_dishes","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":380,"wires":[["6409d5bc.b72a6c"],["7918cb37.5e7614"]]},{"id":"809b4e94.8f89d","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.get_dishes = 'false';\nmsg.payload.intent = 'WINE_PAIRING';\nmsg.payload.get_wines = 'false';\nmsg.payload.response = msg.payload.output.generic;\nmsg.payload.type = 'other';\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":500,"wires":[["957b0869.66a9e8","b1295931.504e88"]]},{"id":"2a057a52.9de2f6","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"req.params","targetType":"msg","x":530,"y":460,"wires":[]},{"id":"8b0030e2.7e494","type":"watson-conversation-v1","z":"90862c79.6c40d","name":"Sommelier_bot","workspaceid":"c1ae359c-c0da-401a-82e3-94b959e7541f","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/c1ae359c-c0da-401a-82e3-94b959e7541f/message","timeout":"","optout-learning":false,"x":620,"y":420,"wires":[["da1db275.1d4c7","d754514d.83539"]]},{"id":"957b0869.66a9e8","type":"watson-conversation-v1-workspace-manager","z":"90862c79.6c40d","name":"Wine pairing change","cwm-custom-mode":"updateIntent","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE_PAIRING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":1900,"y":340,"wires":[["f8ccf3b8.a7932"]]},{"id":"75a0c4d8.4245bc","type":"watson-translator","z":"90862c79.6c40d","name":"Sommelier_bot","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"tr","password":"Og7jzPjuxwh3olxbah-HJnp6qghWYJxuyHtBb4XPVGpG","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"tr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":480,"y":360,"wires":[["8b0030e2.7e494"]]},{"id":"f8ccf3b8.a7932","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dialog_nodes","targetType":"msg","x":2130,"y":340,"wires":[]},{"id":"a3778456.492cc8","type":"watson-translator","z":"90862c79.6c40d","name":"Sommelier_bot","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"tr","password":"Og7jzPjuxwh3olxbah-HJnp6qghWYJxuyHtBb4XPVGpG","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"tr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1380,"y":600,"wires":[["b1295931.504e88"]]},{"id":"282d852.406377a","type":"watson-translator","z":"90862c79.6c40d","name":"Sommelier_bot","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"tr","password":"Og7jzPjuxwh3olxbah-HJnp6qghWYJxuyHtBb4XPVGpG","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"tr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1700,"y":500,"wires":[["867aa8db.19f228"]]},{"id":"3cdb317.cc6a7ce","type":"watson-translator","z":"90862c79.6c40d","name":"Sommelier_bot","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"tr","password":"Og7jzPjuxwh3olxbah-HJnp6qghWYJxuyHtBb4XPVGpG","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"tr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1720,"y":240,"wires":[["3c7eba61.083f46"]]}]