2.5.3.json
[{"id":"90862c79.6c40d","type":"tab","label":"WinePicker Main flow 2.5.3","disabled":false,"info":""},{"id":"d9b23172.86222","type":"function","z":"90862c79.6c40d","name":"","func":"function findPreferedLanguage(accepted_lang) {   \n    // THIS SHOULD BE REPLACED WITH A DB CALL\n    let valid_lang = ['fr','es','ru'];\n    let pref_lang = accepted_lang.substring(0,2);\n    if (valid_lang.indexOf(pref_lang) >= 0) {\n      return pref_lang;\n    }\n    else {\n      return 'en';\n    }\n}\n\nmsg.payload = msg.req.query.value;\nmsg.domain = 'news';\nflow.set('place', msg.req.params.place);\nflow.set('user_id', msg.req.params.place_id);\nflow.set('lang', msg.req.query.lang);\nflow.set('food', msg.req.query.food);\nmsg.srclang = flow.get('lang');\nmsg.destlang = 'en';\nflow.set('langPref', findPreferedLanguage(msg.req.headers[\"accept-language\"]));\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["7b15e157.72801","8b0030e2.7e494"]]},{"id":"b1295931.504e88","type":"http response","z":"90862c79.6c40d","name":"Responce","statusCode":"","headers":{},"x":1360,"y":600,"wires":[]},{"id":"514f2e74.57957","type":"http in","z":"90862c79.6c40d","name":"Watson Endpoint","url":"/watson/:user_id/:place_id","method":"get","upload":true,"swaggerDoc":"","x":200,"y":420,"wires":[["d9b23172.86222"]]},{"id":"d6cc0ebb.66e23","type":"debug","z":"90862c79.6c40d","name":"Filtering","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1910,"y":280,"wires":[]},{"id":"e3e27dde.83ac1","type":"debug","z":"90862c79.6c40d","name":"Otherwise","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.intents[0].intent","targetType":"msg","x":1370,"y":640,"wires":[]},{"id":"68ed04bc.1deddc","type":"debug","z":"90862c79.6c40d","name":"Pairing","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1820,"y":460,"wires":[]},{"id":"aaf18844.5277e8","type":"http request","z":"90862c79.6c40d","name":"Wine Pairing","method":"GET","ret":"obj","paytoqs":false,"url":"ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/dishes","tls":"","proxy":"","authType":"basic","x":1510,"y":420,"wires":[["807464bd.85b6f8"]]},{"id":"db08b232.4db72","type":"http request","z":"90862c79.6c40d","name":"Wine filter","method":"GET","ret":"obj","paytoqs":true,"url":"http://ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/top_wine/places/1333/filter?","tls":"","proxy":"","authType":"basic","x":1340,"y":240,"wires":[["540dcd50.8b4b34","ea898cbb.2473"]]},{"id":"d754514d.83539","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":800,"y":340,"wires":[]},{"id":"3c7eba61.083f46","type":"http response","z":"90862c79.6c40d","name":"","statusCode":"","headers":{},"x":1890,"y":240,"wires":[]},{"id":"867aa8db.19f228","type":"http response","z":"90862c79.6c40d","name":"","statusCode":"","headers":{},"x":1810,"y":420,"wires":[]},{"id":"6409d5bc.b72a6c","type":"function","z":"90862c79.6c40d","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'wines');\n// msg.payload.max_price = msg.payload.context;\nmsg.payload = {wine_area_name: msg.payload.context.wine_area_name, dish_name: msg.payload.context.dish_name, wm_notes: msg.payload.context.wm_notes, max_price: msg.payload.context.max_price, min_price: msg.payload.context.min_price, wine_year: msg.payload.context.wine_year, wine_grapes: msg.payload.context.wine_grapes, wine_type_name: msg.payload.context.wine_type_name};\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":240,"wires":[["db08b232.4db72"]]},{"id":"7918cb37.5e7614","type":"function","z":"90862c79.6c40d","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'dishes');\nflow.set('context', msg.payload.context);\nmsg.payload = msg.payload.context;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":420,"wires":[["aaf18844.5277e8"]]},{"id":"8afad330.4c8b9","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.response = msg.payload.output.generic;\nmsg.payload.type = 'other';\nmsg.srclang = 'en';\nmsg.destlang = flow.get('lang');\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":600,"wires":[["e3e27dde.83ac1","b1295931.504e88"]]},{"id":"540dcd50.8b4b34","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nmsg.payload.food = flow.get('food');\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":240,"wires":[["d6cc0ebb.66e23","3c7eba61.083f46"]]},{"id":"807464bd.85b6f8","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":420,"wires":[["68ed04bc.1deddc","957b0869.66a9e8","867aa8db.19f228"]]},{"id":"377acdc6.cea182","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.context.get_pairing","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":420,"wires":[["6409d5bc.b72a6c"],["b320256f.9c1548"]]},{"id":"ea898cbb.2473","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.get_dishes = 'false';\nmsg.payload.intent = 'WINE_PAIRING';\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":200,"wires":[["957b0869.66a9e8"]]},{"id":"475545ea.fa6dbc","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.food","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":420,"wires":[["6409d5bc.b72a6c"],["7918cb37.5e7614"]]},{"id":"8b0030e2.7e494","type":"watson-conversation-v1","z":"90862c79.6c40d","name":"Sommelier_bot","workspaceid":"c1ae359c-c0da-401a-82e3-94b959e7541f","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/c1ae359c-c0da-401a-82e3-94b959e7541f/message","timeout":"","optout-learning":false,"x":620,"y":420,"wires":[["d754514d.83539","660a3e57.db96e"]]},{"id":"957b0869.66a9e8","type":"watson-conversation-v1-workspace-manager","z":"90862c79.6c40d","name":"Wine pairing change","cwm-custom-mode":"listIntents","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE_PAIRING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":1860,"y":340,"wires":[["f8ccf3b8.a7932"]]},{"id":"f8ccf3b8.a7932","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dialog_nodes","targetType":"msg","x":2070,"y":340,"wires":[]},{"id":"44204bf5.355c94","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.food = flow.get('food');\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":420,"wires":[["475545ea.fa6dbc"]]},{"id":"7b15e157.72801","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"req.params","targetType":"msg","x":470,"y":480,"wires":[]},{"id":"2382a771.5cf418","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.context.get_dishes","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":500,"wires":[["44204bf5.355c94"],["8afad330.4c8b9"]]},{"id":"c0b21355.07c5e","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1000,"y":580,"wires":[]},{"id":"b320256f.9c1548","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.context.get_wines","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":460,"wires":[["6409d5bc.b72a6c"],["2382a771.5cf418"]]},{"id":"453e52e0.ecafec","type":"function","z":"90862c79.6c40d","name":"","func":"let new_language = {\n    \"label\": msg.payload + ': ' +  flow.get('langPref'),\n    \"value\": {\n        \"input\": {\n        \"text\": \"TRANSLATION\"\n        }\n    }\n}\n\nlet original_language = {\n    \"label\":  'Get back to: English',\n    \"value\": {\n        \"input\": {\n        \"text\": \"TRANSLATION\"\n        }\n    }\n}\n\n// If the user switched to his prefered language (which is not english)\n// we offer a switch back to english button\nif(flow.get('langPref') == flow.get('lang')) {\n    msg.tmpPayload.output.generic[msg.tmpPayload.output.generic.length-1].options.push(original_language)\n}\nelse {\n    msg.tmpPayload.output.generic[msg.tmpPayload.output.generic.length-1].options.push(new_language)\n}\n\nmsg.payload=msg.tmpPayload\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":820,"wires":[["af232c69.4b9c2","377acdc6.cea182"]]},{"id":"f7ee15ca.f6d108","type":"change","z":"90862c79.6c40d","name":"","rules":[{"t":"set","p":"srclang","pt":"msg","to":"en","tot":"str"},{"t":"set","p":"destlang","pt":"msg","to":"langPref","tot":"flow"},{"t":"move","p":"payload","pt":"msg","to":"tmpPayload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Change language to","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["6cb02bbd.53bb54"]]},{"id":"6cb02bbd.53bb54","type":"watson-translator","z":"90862c79.6c40d","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":930,"y":740,"wires":[["453e52e0.ecafec"]]},{"id":"af232c69.4b9c2","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":780,"wires":[]},{"id":"e289e442.527af8","type":"switch","z":"90862c79.6c40d","name":"","property":"translate","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":620,"wires":[["f7ee15ca.f6d108"],["377acdc6.cea182"]]},{"id":"660a3e57.db96e","type":"change","z":"90862c79.6c40d","name":"","rules":[{"t":"set","p":"translate","pt":"msg","to":"($count(msg.payload.intents) < 1 or msg.payload.intents[0].intent = \"General_Greetings\" or msg.payload.intents[0].intent = \"EXIT\"\t) and $flowContext('langPref') != 'en'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":680,"wires":[["923c9e2d.ebd02","e289e442.527af8"]]},{"id":"923c9e2d.ebd02","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":720,"wires":[]}]