2.8.5.json

[{"id":"90862c79.6c40d","type":"tab","label":"WinePicker Main flow 2.8.3","disabled":false,"info":""},{"id":"d9b23172.86222","type":"function","z":"90862c79.6c40d","name":"","func":"function findPreferedLanguage(accepted_lang) {   \n    // THIS SHOULD BE REPLACED WITH A DB CALL\n    let valid_lang = ['fr','es','ru'];\n    let pref_lang = accepted_lang.substring(0,2);\n    if (valid_lang.indexOf(pref_lang) >= 0) {\n      return pref_lang;\n    }\n    else {\n      return 'en';\n    }\n}\n\nmsg.payload = msg.req.query.value;\nmsg.domain = 'news';\nflow.set('place', msg.req.params.place);\nflow.set('user_id', msg.req.params.place_id);\nflow.set('lang', msg.req.query.lang);\nflow.set('pairing', msg.req.query.pairing);\nflow.set('wines', msg.req.query.wines);\nmsg.srclang = flow.get('lang');\nmsg.destlang = 'en';\nmsg.user = msg.req.params.user_id;\nflow.set('langPref', findPreferedLanguage(msg.req.headers[\"accept-language\"]));\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["8b0030e2.7e494"]]},{"id":"b1295931.504e88","type":"http response","z":"90862c79.6c40d","name":"Responce","statusCode":"","headers":{},"x":1360,"y":600,"wires":[]},{"id":"514f2e74.57957","type":"http in","z":"90862c79.6c40d","name":"Watson Endpoint","url":"/watson/:user_id/:place_id","method":"get","upload":true,"swaggerDoc":"","x":200,"y":420,"wires":[["d9b23172.86222"]]},{"id":"d6cc0ebb.66e23","type":"debug","z":"90862c79.6c40d","name":"Filtering","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1690,"y":440,"wires":[]},{"id":"e3e27dde.83ac1","type":"debug","z":"90862c79.6c40d","name":"Otherwise","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.intents[0].intent","targetType":"msg","x":1370,"y":640,"wires":[]},{"id":"68ed04bc.1deddc","type":"debug","z":"90862c79.6c40d","name":"Get Dishes","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1700,"y":540,"wires":[]},{"id":"aaf18844.5277e8","type":"http request","z":"90862c79.6c40d","name":"Dish List","method":"GET","ret":"obj","paytoqs":false,"url":"ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/dishes","tls":"","proxy":"","authType":"basic","x":1360,"y":500,"wires":[["807464bd.85b6f8"]]},{"id":"db08b232.4db72","type":"http request","z":"90862c79.6c40d","name":"Wine filter","method":"GET","ret":"obj","paytoqs":true,"url":"http://ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/top_wine/places/1333/filter?","tls":"","proxy":"","authType":"basic","x":1360,"y":400,"wires":[["540dcd50.8b4b34","ea898cbb.2473"]]},{"id":"d754514d.83539","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":800,"y":340,"wires":[]},{"id":"3c7eba61.083f46","type":"http response","z":"90862c79.6c40d","name":"","statusCode":"","headers":{},"x":1670,"y":400,"wires":[]},{"id":"867aa8db.19f228","type":"http response","z":"90862c79.6c40d","name":"","statusCode":"","headers":{},"x":1670,"y":500,"wires":[]},{"id":"6409d5bc.b72a6c","type":"function","z":"90862c79.6c40d","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'wines');\n// msg.payload.max_price = msg.payload.context;\nmsg.payload.context.get_pairing = 'false';\nmsg.payload = {wine_area_name: msg.payload.context.wine_area_name, dish_name: msg.payload.context.dish_name, wm_notes: msg.payload.context.wm_notes, max_price: msg.payload.context.max_price, min_price: msg.payload.context.min_price, wine_year: msg.payload.context.wine_year, wine_grapes: msg.payload.context.wine_grapes, wine_type_name: msg.payload.context.wine_type_name};\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":400,"wires":[["db08b232.4db72"]]},{"id":"7918cb37.5e7614","type":"function","z":"90862c79.6c40d","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'dishes');\nflow.set('context', msg.payload.context);\nmsg.payload.food = flow.get('food');\nmsg.payload = msg.payload.context;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":500,"wires":[["aaf18844.5277e8"]]},{"id":"8afad330.4c8b9","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.response = msg.payload.output.generic;\nmsg.payload.type = 'other';\nmsg.srclang = 'en';\nmsg.destlang = flow.get('lang');\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":600,"wires":[["e3e27dde.83ac1","b1295931.504e88"]]},{"id":"540dcd50.8b4b34","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nmsg.payload.food = flow.get('food');\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":400,"wires":[["d6cc0ebb.66e23","3c7eba61.083f46"]]},{"id":"807464bd.85b6f8","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":500,"wires":[["68ed04bc.1deddc","867aa8db.19f228"]]},{"id":"377acdc6.cea182","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.context.get_pairing","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":420,"wires":[["2c88c8fc.e35da8"],["2382a771.5cf418"]]},{"id":"ea898cbb.2473","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload = {\n    \"intent\": \"#WINE_FILTERING\",\n    \"get_wines\": \"false\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":360,"wires":[["bafe32d9.ab046"]]},{"id":"8b0030e2.7e494","type":"watson-conversation-v1","z":"90862c79.6c40d","name":"Sommelier_bot","workspaceid":"c1ae359c-c0da-401a-82e3-94b959e7541f","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/c1ae359c-c0da-401a-82e3-94b959e7541f/message","timeout":"","optout-learning":false,"x":620,"y":420,"wires":[["d754514d.83539","660a3e57.db96e"]]},{"id":"957b0869.66a9e8","type":"watson-conversation-v1-workspace-manager","z":"90862c79.6c40d","name":"Wine pairing change","cwm-custom-mode":"updateIntent","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE_PAIRING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":1820,"y":240,"wires":[["f8ccf3b8.a7932"]]},{"id":"f8ccf3b8.a7932","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dialog_nodes","targetType":"msg","x":2030,"y":240,"wires":[]},{"id":"2382a771.5cf418","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.context.get_dishes","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":440,"wires":[["7918cb37.5e7614"],["b320256f.9c1548"]]},{"id":"c0b21355.07c5e","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1000,"y":580,"wires":[]},{"id":"b320256f.9c1548","type":"switch","z":"90862c79.6c40d","name":"","property":"payload.context.get_wines","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":520,"wires":[["6409d5bc.b72a6c"],["8afad330.4c8b9"]]},{"id":"453e52e0.ecafec","type":"function","z":"90862c79.6c40d","name":"","func":"let new_language = {\n    \"label\": msg.payload + ': ' +  flow.get('langPref'),\n    \"value\": {\n        \"input\": {\n        \"text\": \"TRANSLATION\"\n        }\n    }\n}\n\nlet original_language = {\n    \"label\":  'Get back to: en',\n    \"value\": {\n        \"input\": {\n        \"text\": \"TRANSLATION\"\n        }\n    }\n}\n\n// If the user switched to his prefered language (which is not english)\n// we offer a switch back to english button\nif(flow.get('langPref') == flow.get('lang')) {\n    msg.tmpPayload.output.generic[msg.tmpPayload.output.generic.length-1].options.push(original_language)\n}\nelse {\n    msg.tmpPayload.output.generic[msg.tmpPayload.output.generic.length-1].options.push(new_language)\n}\n\nmsg.payload=msg.tmpPayload\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":820,"wires":[["af232c69.4b9c2","377acdc6.cea182"]]},{"id":"f7ee15ca.f6d108","type":"change","z":"90862c79.6c40d","name":"","rules":[{"t":"set","p":"srclang","pt":"msg","to":"en","tot":"str"},{"t":"set","p":"destlang","pt":"msg","to":"langPref","tot":"flow"},{"t":"move","p":"payload","pt":"msg","to":"tmpPayload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Change language to","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["6cb02bbd.53bb54"]]},{"id":"6cb02bbd.53bb54","type":"watson-translator","z":"90862c79.6c40d","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":930,"y":740,"wires":[["453e52e0.ecafec"]]},{"id":"af232c69.4b9c2","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":780,"wires":[]},{"id":"e289e442.527af8","type":"switch","z":"90862c79.6c40d","name":"","property":"translate","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":620,"wires":[["f7ee15ca.f6d108"],["377acdc6.cea182"]]},{"id":"660a3e57.db96e","type":"change","z":"90862c79.6c40d","name":"","rules":[{"t":"set","p":"translate","pt":"msg","to":"($count(msg.payload.intents) < 1 or msg.payload.intents[0].intent = \"General_Greetings\" or msg.payload.intents[0].intent = \"EXIT\"\t) and $flowContext('langPref') != 'en'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":680,"wires":[["923c9e2d.ebd02","e289e442.527af8"]]},{"id":"923c9e2d.ebd02","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":720,"wires":[]},{"id":"82e251b9.53907","type":"debug","z":"90862c79.6c40d","name":"Pairing","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1620,"y":300,"wires":[]},{"id":"3934073f.624af8","type":"http request","z":"90862c79.6c40d","name":"Wine pairing","method":"GET","ret":"obj","paytoqs":true,"url":"http://ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/top_wine/places/1333/food_match?","tls":"","proxy":"","authType":"basic","x":1190,"y":280,"wires":[["9097b9af.b7f708","ab08b22e.8431f"]]},{"id":"6bbb15a1.6e826c","type":"http response","z":"90862c79.6c40d","name":"","statusCode":"","headers":{},"x":1610,"y":260,"wires":[]},{"id":"2c88c8fc.e35da8","type":"function","z":"90862c79.6c40d","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'pairing');\n// msg.payload.max_price = msg.payload.context;\nmsg.payload.context.get_wines = 'false';\nmsg.payload = {dish_name: msg.payload.context.dish_name, max_price: msg.payload.context.max_price, min_price: msg.payload.context.min_price};\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":280,"wires":[["3934073f.624af8"]]},{"id":"9097b9af.b7f708","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nmsg.payload.food = flow.get('food');\nmsg.payload.context.get_pairing = 'false';\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":280,"wires":[["82e251b9.53907","6bbb15a1.6e826c"]]},{"id":"ab08b22e.8431f","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload = {\n    \"intent\": \"#WINE_PAIRING\",\n    \"get_pairing\": \"false\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":240,"wires":[["957b0869.66a9e8"]]},{"id":"bafe32d9.ab046","type":"watson-conversation-v1-workspace-manager","z":"90862c79.6c40d","name":"Wine filtering change","cwm-custom-mode":"updateIntent","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE_PAIRING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":1940,"y":360,"wires":[["52085f07.f87b6"]]},{"id":"52085f07.f87b6","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"intent","targetType":"msg","x":2130,"y":360,"wires":[]},{"id":"7123c2ac.19e88c","type":"http in","z":"90862c79.6c40d","name":"Customization Endpoint","url":"/customization","method":"get","upload":false,"swaggerDoc":"","x":120,"y":760,"wires":[["c3429df0.faf17"]]},{"id":"ed2734d7.8026f8","type":"http response","z":"90862c79.6c40d","name":"Customization output","statusCode":"","headers":{},"x":500,"y":760,"wires":[]},{"id":"d63aae94.a5f2f","type":"http request","z":"90862c79.6c40d","name":"Customization call","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":310,"y":880,"wires":[["530b5c8d.93bf64"]]},{"id":"c3429df0.faf17","type":"function","z":"90862c79.6c40d","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":820,"wires":[["d63aae94.a5f2f"]]},{"id":"530b5c8d.93bf64","type":"function","z":"90862c79.6c40d","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":820,"wires":[["ed2734d7.8026f8"]]},{"id":"dec3394d.73b5e8","type":"http in","z":"90862c79.6c40d","name":"Translation Endpoint","url":"/translation","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1000,"wires":[["6cebd51c.1cfb9c"]]},{"id":"92d6e855.d6f3a8","type":"http response","z":"90862c79.6c40d","name":"Translation output","statusCode":"","headers":{},"x":530,"y":1000,"wires":[]},{"id":"6cebd51c.1cfb9c","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload = msg.req.query.value;\nmsg.destlang = msg.req.query.lang;\nmsg.domain = 'news';\nflow.set('lang', msg.req.query.lang);\nmsg.srclang = 'en';\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1060,"wires":[["76dd8f76.796e","a511b77d.137408"]]},{"id":"87451931.27b668","type":"function","z":"90862c79.6c40d","name":"","func":"msg.payload = msg.translation;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1060,"wires":[["92d6e855.d6f3a8"]]},{"id":"76dd8f76.796e","type":"watson-translator","z":"90862c79.6c40d","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"Og7jzPjuxwh3olxbah-HJnp6qghWYJxuyHtBb4XPVGpG","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":350,"y":1100,"wires":[["87451931.27b668","2299f30b.b68efc"]]},{"id":"2299f30b.b68efc","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"translation","targetType":"msg","x":540,"y":1140,"wires":[]},{"id":"a511b77d.137408","type":"debug","z":"90862c79.6c40d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":180,"y":1180,"wires":[]}]