2.9.3.json
[{"id":"ff086b9a.fea928","type":"tab","label":"WinePicker Main flow 2.9.3","disabled":false,"info":""},{"id":"6dc73574.045f8c","type":"function","z":"ff086b9a.fea928","name":"","func":"function findPreferedLanguage(accepted_lang) {   \n    // THIS SHOULD BE REPLACED WITH A DB CALL\n    let valid_lang = ['fr','es','ru'];\n    let pref_lang = accepted_lang.substring(0,2);\n    if (valid_lang.indexOf(pref_lang) >= 0) {\n      return pref_lang;\n    }\n    else {\n      return 'en';\n    }\n}\n\nmsg.payload = msg.req.query.value;\nmsg.domain = 'news';\nflow.set('place', msg.req.params.place);\nflow.set('user_id', msg.req.params.place_id);\nflow.set('lang', msg.req.query.lang);\nflow.set('food', msg.req.query.food);\nmsg.srclang = flow.get('lang');\nmsg.destlang = 'en';\nmsg.user = msg.req.params.user_id;\nflow.set('langPref', findPreferedLanguage(msg.req.headers[\"accept-language\"]));\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["c7ca4d33.147c8","2ee6a77c.967b78"]]},{"id":"3c836cf5.283784","type":"http response","z":"ff086b9a.fea928","name":"Responce","statusCode":"","headers":{},"x":1360,"y":600,"wires":[]},{"id":"46805830.41d1a8","type":"http in","z":"ff086b9a.fea928","name":"Watson Endpoint","url":"/watson/:user_id/:place_id","method":"get","upload":true,"swaggerDoc":"","x":200,"y":420,"wires":[["6dc73574.045f8c"]]},{"id":"5ad44442.53c6cc","type":"debug","z":"ff086b9a.fea928","name":"Filtering","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1690,"y":440,"wires":[]},{"id":"65adaaf4.8dc394","type":"debug","z":"ff086b9a.fea928","name":"Otherwise","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.intents[0].intent","targetType":"msg","x":1370,"y":640,"wires":[]},{"id":"77e73491.c5a3cc","type":"debug","z":"ff086b9a.fea928","name":"Get Dishes","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1700,"y":540,"wires":[]},{"id":"2a395a71.bd60f6","type":"http request","z":"ff086b9a.fea928","name":"Dish List","method":"GET","ret":"obj","paytoqs":false,"url":"ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/dishes","tls":"","proxy":"","authType":"basic","x":1360,"y":500,"wires":[["c55e9890.ba7988"]]},{"id":"2056e2fb.f0ef0e","type":"http request","z":"ff086b9a.fea928","name":"Wine filter","method":"GET","ret":"obj","paytoqs":true,"url":"http://ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/top_wine/places/1333/filter?","tls":"","proxy":"","authType":"basic","x":1360,"y":400,"wires":[["5df7cd6c.f5e744"]]},{"id":"9288e332.3c342","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":800,"y":340,"wires":[]},{"id":"d61158c9.c7ef38","type":"http response","z":"ff086b9a.fea928","name":"","statusCode":"","headers":{},"x":1670,"y":400,"wires":[]},{"id":"4d174c13.d093d4","type":"http response","z":"ff086b9a.fea928","name":"","statusCode":"","headers":{},"x":1670,"y":500,"wires":[]},{"id":"4f7c77a9.a4e148","type":"function","z":"ff086b9a.fea928","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'wines');\n// msg.payload.max_price = msg.payload.context;\nmsg.payload = {wine_area_name: msg.payload.context.wine_area_name, dish_name: msg.payload.context.dish_name, wm_notes: msg.payload.context.wm_notes, max_price: msg.payload.context.max_price, min_price: msg.payload.context.min_price, wine_year: msg.payload.context.wine_year, wine_grapes: msg.payload.context.wine_grapes, wine_type_name: msg.payload.context.wine_type_name};\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":400,"wires":[["2056e2fb.f0ef0e","4e5ec82e.657888"]]},{"id":"3b48a873.0bdd28","type":"function","z":"ff086b9a.fea928","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'dishes');\nflow.set('context', msg.payload.context);\nmsg.payload.food = flow.get('food');\nmsg.payload = msg.payload.context;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":500,"wires":[["2a395a71.bd60f6"]]},{"id":"d096ff49.739e","type":"function","z":"ff086b9a.fea928","name":"","func":"msg.payload.response = msg.payload.output.generic;\nmsg.payload.type = 'other';\nmsg.srclang = 'en';\nmsg.destlang = flow.get('lang');\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":600,"wires":[["65adaaf4.8dc394","3c836cf5.283784"]]},{"id":"5df7cd6c.f5e744","type":"function","z":"ff086b9a.fea928","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nmsg.payload.food = flow.get('food');\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":400,"wires":[["5ad44442.53c6cc","d61158c9.c7ef38"]]},{"id":"c55e9890.ba7988","type":"function","z":"ff086b9a.fea928","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":500,"wires":[["77e73491.c5a3cc","4d174c13.d093d4"]]},{"id":"2cdd2f69.bb90b","type":"switch","z":"ff086b9a.fea928","name":"","property":"payload.context.get_pairing","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":420,"wires":[["2251c588.fade1a"],["2cf245e7.c6e6ea"]]},{"id":"bfd970ac.f58dc","type":"function","z":"ff086b9a.fea928","name":"","func":"msg.payload.get_pairing = 'false';\nmsg.payload.intent = 'WINE_PAIRING';\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":220,"wires":[["b2327a7d.1c4148"]]},{"id":"2ee6a77c.967b78","type":"watson-conversation-v1","z":"ff086b9a.fea928","name":"Sommelier_bot","workspaceid":"c1ae359c-c0da-401a-82e3-94b959e7541f","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/c1ae359c-c0da-401a-82e3-94b959e7541f/message","timeout":"","optout-learning":false,"x":620,"y":420,"wires":[["9288e332.3c342","4a77b22d.379c2c"]]},{"id":"6189d9e2.0b0368","type":"watson-conversation-v1-workspace-manager","z":"ff086b9a.fea928","name":"Wine pairing change","cwm-custom-mode":"listIntents","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE_PAIRING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":1440,"y":180,"wires":[["3f2d98e1.465608"]]},{"id":"3f2d98e1.465608","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1650,"y":180,"wires":[]},{"id":"c7ca4d33.147c8","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"req.params","targetType":"msg","x":470,"y":480,"wires":[]},{"id":"b193a693.368a58","type":"switch","z":"ff086b9a.fea928","name":"","property":"payload.context.get_dishes","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":500,"wires":[["3b48a873.0bdd28"],["d096ff49.739e"]]},{"id":"6e186031.1548c","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1000,"y":580,"wires":[]},{"id":"2cf245e7.c6e6ea","type":"switch","z":"ff086b9a.fea928","name":"","property":"payload.context.get_wines","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":460,"wires":[["4f7c77a9.a4e148"],["b193a693.368a58"]]},{"id":"44157a0e.bae7c4","type":"function","z":"ff086b9a.fea928","name":"","func":"let new_language = {\n    \"label\": msg.payload + ': ' +  flow.get('langPref'),\n    \"value\": {\n        \"input\": {\n        \"text\": \"TRANSLATION\"\n        }\n    }\n}\n\nlet original_language = {\n    \"label\":  'Get back to: en',\n    \"value\": {\n        \"input\": {\n        \"text\": \"TRANSLATION\"\n        }\n    }\n}\n\n// If the user switched to his prefered language (which is not english)\n// we offer a switch back to english button\nif(flow.get('langPref') == flow.get('lang')) {\n    msg.tmpPayload.output.generic[msg.tmpPayload.output.generic.length-1].options.push(original_language)\n}\nelse {\n    msg.tmpPayload.output.generic[msg.tmpPayload.output.generic.length-1].options.push(new_language)\n}\n\nmsg.payload=msg.tmpPayload\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":820,"wires":[["845ae329.89f8","2cdd2f69.bb90b"]]},{"id":"22f49495.04499c","type":"change","z":"ff086b9a.fea928","name":"","rules":[{"t":"set","p":"srclang","pt":"msg","to":"en","tot":"str"},{"t":"set","p":"destlang","pt":"msg","to":"langPref","tot":"flow"},{"t":"move","p":"payload","pt":"msg","to":"tmpPayload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Change language to","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["322956aa.5eed3a"]]},{"id":"322956aa.5eed3a","type":"watson-translator","z":"ff086b9a.fea928","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":930,"y":740,"wires":[["44157a0e.bae7c4"]]},{"id":"845ae329.89f8","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":780,"wires":[]},{"id":"d86c76dc.66c408","type":"switch","z":"ff086b9a.fea928","name":"","property":"translate","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":620,"wires":[["22f49495.04499c"],["2cdd2f69.bb90b"]]},{"id":"4a77b22d.379c2c","type":"change","z":"ff086b9a.fea928","name":"","rules":[{"t":"set","p":"translate","pt":"msg","to":"($count(msg.payload.intents) < 1 or msg.payload.intents[0].intent = \"General_Greetings\" or msg.payload.intents[0].intent = \"EXIT\"\t) and $flowContext('langPref') != 'en'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":680,"wires":[["63bd91e3.e87a8","d86c76dc.66c408"]]},{"id":"63bd91e3.e87a8","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":720,"wires":[]},{"id":"15969c79.a3bff4","type":"debug","z":"ff086b9a.fea928","name":"Pairing","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1620,"y":300,"wires":[]},{"id":"36403081.9fcbe","type":"http request","z":"ff086b9a.fea928","name":"Wine pairing","method":"GET","ret":"obj","paytoqs":true,"url":"http://ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/top_wine/places/1333/food_match?","tls":"","proxy":"","authType":"basic","x":1190,"y":280,"wires":[["859ffef0.1d075"]]},{"id":"d01f11e7.c33ae","type":"http response","z":"ff086b9a.fea928","name":"","statusCode":"","headers":{},"x":1610,"y":260,"wires":[]},{"id":"2251c588.fade1a","type":"function","z":"ff086b9a.fea928","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'pairing');\n// msg.payload.max_price = msg.payload.context;\nmsg.payload = {dish_name: msg.payload.context.dish_name, max_price: msg.payload.context.max_price, min_price: msg.payload.context.min_price};\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":280,"wires":[["36403081.9fcbe","bb98ac7c.c0c2d","f0f628f.dd9a6d8"]]},{"id":"859ffef0.1d075","type":"function","z":"ff086b9a.fea928","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nmsg.payload.food = flow.get('food');\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":280,"wires":[["15969c79.a3bff4","d01f11e7.c33ae"]]},{"id":"9cafb5c.ff5cf48","type":"function","z":"ff086b9a.fea928","name":"","func":"msg.payload= flow.get('context');\nmsg.payload.get_pairing = 'false';\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":60,"wires":[[]]},{"id":"b2327a7d.1c4148","type":"watson-conversation-v1-workspace-manager","z":"ff086b9a.fea928","name":"Wine filtering change","cwm-custom-mode":"updateIntent","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE FILTERING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":2060,"y":220,"wires":[["6db945ad.15796c"]]},{"id":"6db945ad.15796c","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dialog_nodes","targetType":"msg","x":2270,"y":220,"wires":[]},{"id":"eec1ba3.bfab348","type":"http in","z":"ff086b9a.fea928","name":"Customization Endpoint","url":"/customization","method":"get","upload":false,"swaggerDoc":"","x":120,"y":760,"wires":[["4aabb766.c12ba8"]]},{"id":"9a8697f4.0d6a08","type":"http response","z":"ff086b9a.fea928","name":"Customization output","statusCode":"","headers":{},"x":500,"y":760,"wires":[]},{"id":"6328b7ef.21ba98","type":"http request","z":"ff086b9a.fea928","name":"Customization call","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":310,"y":880,"wires":[["bbb2e45.64b9018"]]},{"id":"4aabb766.c12ba8","type":"function","z":"ff086b9a.fea928","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":820,"wires":[["6328b7ef.21ba98"]]},{"id":"bbb2e45.64b9018","type":"function","z":"ff086b9a.fea928","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":820,"wires":[["9a8697f4.0d6a08"]]},{"id":"bd8d67f9.7e2f38","type":"http in","z":"ff086b9a.fea928","name":"Translation Endpoint","url":"/translation","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1000,"wires":[["c8a5cdf6.9a715"]]},{"id":"8e193870.d03cb8","type":"http response","z":"ff086b9a.fea928","name":"Translation output","statusCode":"","headers":{},"x":530,"y":1000,"wires":[]},{"id":"c8a5cdf6.9a715","type":"function","z":"ff086b9a.fea928","name":"","func":"msg.payload = msg.req.query.value;\nmsg.destlang = msg.req.query.lang;\nmsg.domain = 'news';\nflow.set('lang', msg.req.query.lang);\nmsg.srclang = 'en';\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1060,"wires":[["59995d0c.647b94","76477d5a.5939f4"]]},{"id":"14e3f4a5.a9609b","type":"function","z":"ff086b9a.fea928","name":"","func":"msg.payload = msg.translation;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1060,"wires":[["8e193870.d03cb8"]]},{"id":"59995d0c.647b94","type":"watson-translator","z":"ff086b9a.fea928","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"Og7jzPjuxwh3olxbah-HJnp6qghWYJxuyHtBb4XPVGpG","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":350,"y":1100,"wires":[["14e3f4a5.a9609b","83398d9d.02cba"]]},{"id":"83398d9d.02cba","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"translation","targetType":"msg","x":540,"y":1140,"wires":[]},{"id":"76477d5a.5939f4","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":180,"y":1180,"wires":[]},{"id":"f3e1be0d.4a871","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":80,"wires":[]},{"id":"bb98ac7c.c0c2d","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":220,"wires":[]},{"id":"f0f628f.dd9a6d8","type":"change","z":"ff086b9a.fea928","name":"Set pairing to false","rules":[{"t":"set","p":"payload","pt":"msg","to":"context","tot":"flow"},{"t":"set","p":"payload.get_pairing","pt":"msg","to":"false","tot":"jsonata"},{"t":"set","p":"user","pt":"msg","to":"user_id","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":180,"wires":[["6189d9e2.0b0368"]]},{"id":"45f8d5c0.92b71c","type":"watson-conversation-v1-workspace-manager","z":"ff086b9a.fea928","name":"Wine pairing change","cwm-custom-mode":"listIntents","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE_PAIRING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":1840,"y":340,"wires":[["23dbfc3f.dd7e84"]]},{"id":"4e5ec82e.657888","type":"change","z":"ff086b9a.fea928","name":"Set wine to false","rules":[{"t":"set","p":"payload","pt":"msg","to":"context","tot":"flow"},{"t":"set","p":"payload.get_wines","pt":"msg","to":"false","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":340,"wires":[["45f8d5c0.92b71c"]]},{"id":"23dbfc3f.dd7e84","type":"debug","z":"ff086b9a.fea928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2050,"y":340,"wires":[]}]