3.1.1.json
[{"id":"2ebae169.651c9e","type":"tab","label":"WinePicker Main flow 2.10.1","disabled":false,"info":""},{"id":"288ca383.9878ac","type":"function","z":"2ebae169.651c9e","name":"","func":"function findPreferedLanguage(accepted_lang) {   \n    // THIS SHOULD BE REPLACED WITH A DB CALL\n    let valid_lang = ['fr','es','ru'];\n    let pref_lang = accepted_lang.substring(0,2);\n    if (valid_lang.indexOf(pref_lang) >= 0) {\n      return pref_lang;\n    }\n    else {\n      return 'en';\n    }\n}\n\nmsg.payload = msg.req.query.value;\nmsg.domain = 'news';\nflow.set('place', msg.req.params.place_id);\nflow.set('user_id', msg.req.params.user_id);\nflow.set('lang', msg.req.query.lang);\nflow.set('food', msg.req.query.food);\nmsg.srclang = flow.get('lang');\nmsg.destlang = 'en';\nmsg.user = msg.req.params.user_id;\nflow.set('langPref', findPreferedLanguage(msg.req.headers[\"accept-language\"]));\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["66ba57a1.a306f8","d86e3569.f89658"]]},{"id":"5fbe7b61.687884","type":"http response","z":"2ebae169.651c9e","name":"Responce","statusCode":"","headers":{},"x":1360,"y":600,"wires":[]},{"id":"71d06e0e.534a5","type":"http in","z":"2ebae169.651c9e","name":"Watson Endpoint","url":"/watson/:user_id/:place_id","method":"get","upload":true,"swaggerDoc":"","x":200,"y":420,"wires":[["288ca383.9878ac"]]},{"id":"503288fd.68e2e8","type":"debug","z":"2ebae169.651c9e","name":"Filtering","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":2050,"y":440,"wires":[]},{"id":"c891e5d3.1d9598","type":"debug","z":"2ebae169.651c9e","name":"Otherwise","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":1370,"y":660,"wires":[]},{"id":"601357f2.00da18","type":"debug","z":"2ebae169.651c9e","name":"Get Dishes","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1690,"y":540,"wires":[]},{"id":"9fb7743.e926f88","type":"http request","z":"2ebae169.651c9e","name":"Dish List","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1360,"y":500,"wires":[["bb7e78fa.a7b008"]]},{"id":"41960c51.ba9a14","type":"http request","z":"2ebae169.651c9e","name":"Wine filter","method":"GET","ret":"obj","paytoqs":true,"url":"","tls":"","proxy":"","authType":"basic","x":1360,"y":400,"wires":[["c3344155.c28","9109447e.6d84a8","ec892e49.66002"]]},{"id":"192ddaa3.67dd45","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":770,"y":340,"wires":[]},{"id":"5ebaf60c.a35e48","type":"http response","z":"2ebae169.651c9e","name":"","statusCode":"","headers":{},"x":2030,"y":400,"wires":[]},{"id":"5286442a.d0106c","type":"http response","z":"2ebae169.651c9e","name":"","statusCode":"","headers":{},"x":1670,"y":500,"wires":[]},{"id":"956eb8ce.3b9ee8","type":"function","z":"2ebae169.651c9e","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'wines');\n// msg.payload.max_price = msg.payload.context;\nmsg.payload = {wine_area_name: msg.payload.context.wine_area_name, dish_name: msg.payload.context.dish_name, wm_notes: msg.payload.context.wm_notes, max_price: msg.payload.context.max_price, min_price: msg.payload.context.min_price, wine_year: msg.payload.context.wine_year, wine_grapes: msg.payload.context.wine_grapes, wine_type_name: msg.payload.context.wine_type_name};\nlet place_id = flow.get('place');\nmsg.url = 'http://ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/top_wine/places/'+place_id+'/filter?';\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":400,"wires":[["41960c51.ba9a14"]]},{"id":"6c8d6275.589e2c","type":"function","z":"2ebae169.651c9e","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'dishes');\nflow.set('context', msg.payload.context);\nmsg.payload.food = flow.get('food');\nmsg.payload = msg.payload.context;\nlet place_id = flow.get('place');\nmsg.url = 'ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/dishes';\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":500,"wires":[["9fb7743.e926f88"]]},{"id":"57bcdfa.2b5b82","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload.response = msg.payload.output.generic;\nmsg.payload.type = 'other';\nmsg.srclang = 'en';\nmsg.destlang = flow.get('lang');\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":600,"wires":[["c891e5d3.1d9598","5fbe7b61.687884"]]},{"id":"c3344155.c28","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nmsg.payload.food = flow.get('food');\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":400,"wires":[["503288fd.68e2e8","5ebaf60c.a35e48"]]},{"id":"bb7e78fa.a7b008","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":500,"wires":[["601357f2.00da18","5286442a.d0106c"]]},{"id":"134ceed6.fa89f1","type":"switch","z":"2ebae169.651c9e","name":"","property":"payload.context.get_pairing","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":420,"wires":[["cef4da22.d78f38"],["147ed61d.d765ea"]]},{"id":"7fca6fb0.7190c","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload.get_pairing = 'false';\nmsg.payload.intent = 'WINE_PAIRING';\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":220,"wires":[["a9c5f816.d5ab28"]]},{"id":"d86e3569.f89658","type":"watson-conversation-v1","z":"2ebae169.651c9e","name":"Sommelier_bot","workspaceid":"c1ae359c-c0da-401a-82e3-94b959e7541f","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/c1ae359c-c0da-401a-82e3-94b959e7541f/message","timeout":"","optout-learning":false,"x":620,"y":420,"wires":[["192ddaa3.67dd45","dc567c52.9c57c"]]},{"id":"ce9a68d2.ae2978","type":"watson-conversation-v1-workspace-manager","z":"2ebae169.651c9e","name":"Wine pairing change","cwm-custom-mode":"listIntents","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE_PAIRING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":1440,"y":180,"wires":[["78a484dd.28ffcc"]]},{"id":"78a484dd.28ffcc","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1650,"y":180,"wires":[]},{"id":"66ba57a1.a306f8","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":430,"y":480,"wires":[]},{"id":"7cb17ec5.e293d","type":"switch","z":"2ebae169.651c9e","name":"","property":"payload.context.get_dishes","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":500,"wires":[["6c8d6275.589e2c"],["57bcdfa.2b5b82"]]},{"id":"147ed61d.d765ea","type":"switch","z":"2ebae169.651c9e","name":"","property":"payload.context.get_wines","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":460,"wires":[["956eb8ce.3b9ee8"],["7cb17ec5.e293d"]]},{"id":"5e00f86e.40c8a8","type":"function","z":"2ebae169.651c9e","name":"","func":"let new_language = {\n    \"label\": msg.payload + ': ' +  flow.get('langPref'),\n    \"value\": {\n        \"input\": {\n        \"text\": \"TRANSLATION\"\n        }\n    }\n}\n\nlet original_language = {\n    \"label\":  'Get back to: en',\n    \"value\": {\n        \"input\": {\n        \"text\": \"TRANSLATION\"\n        }\n    }\n}\n\n// If the user switched to his prefered language (which is not english)\n// we offer a switch back to english button\nif(flow.get('langPref') == flow.get('lang')) {\n    msg.tmpPayload.output.generic[msg.tmpPayload.output.generic.length-1].options.push(original_language)\n}\nelse {\n    msg.tmpPayload.output.generic[msg.tmpPayload.output.generic.length-1].options.push(new_language)\n}\n\nmsg.payload=msg.tmpPayload\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":820,"wires":[["cbc9257.c6f31d8","134ceed6.fa89f1"]]},{"id":"434149d.900b6b8","type":"change","z":"2ebae169.651c9e","name":"","rules":[{"t":"set","p":"srclang","pt":"msg","to":"en","tot":"str"},{"t":"set","p":"destlang","pt":"msg","to":"langPref","tot":"flow"},{"t":"move","p":"payload","pt":"msg","to":"tmpPayload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Change language to","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["23e142f4.8724ee"]]},{"id":"23e142f4.8724ee","type":"watson-translator","z":"2ebae169.651c9e","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":930,"y":740,"wires":[["5e00f86e.40c8a8"]]},{"id":"cbc9257.c6f31d8","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":780,"wires":[]},{"id":"f9d6c3ad.1c328","type":"switch","z":"2ebae169.651c9e","name":"","property":"translate","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":620,"wires":[["434149d.900b6b8"],["134ceed6.fa89f1"]]},{"id":"dc567c52.9c57c","type":"change","z":"2ebae169.651c9e","name":"","rules":[{"t":"set","p":"translate","pt":"msg","to":"($count(msg.payload.intents) < 1 or msg.payload.intents[0].intent = \"General_Greetings\" or msg.payload.intents[0].intent = \"EXIT\"\t) and $flowContext('langPref') != 'en'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":680,"wires":[["a2b9f30e.d0021","f9d6c3ad.1c328"]]},{"id":"a2b9f30e.d0021","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":720,"wires":[]},{"id":"b27a4799.7974e8","type":"debug","z":"2ebae169.651c9e","name":"Pairing","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1620,"y":300,"wires":[]},{"id":"896c6b33.d64368","type":"http request","z":"2ebae169.651c9e","name":"Wine pairing","method":"GET","ret":"obj","paytoqs":true,"url":"","tls":"","proxy":"","authType":"basic","x":1190,"y":280,"wires":[["1e6fcb0d.8313e5","e556e3d5.58f7b"]]},{"id":"56cb9cdc.649014","type":"http response","z":"2ebae169.651c9e","name":"","statusCode":"","headers":{},"x":1610,"y":260,"wires":[]},{"id":"cef4da22.d78f38","type":"function","z":"2ebae169.651c9e","name":"","func":"flow.set('message', msg.payload.output.generic);\nflow.set('type', 'pairing');\n// msg.payload.max_price = msg.payload.context;\nmsg.payload = {dish_name: msg.payload.context.dish_name, max_price: msg.payload.context.max_price, min_price: msg.payload.context.min_price};\nlet place_id = flow.get('place');\nmsg.url = 'http://ec2-52-30-218-137.eu-west-1.compute.amazonaws.com/top_wine/places/'+place_id+'/food_match?';\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":280,"wires":[["896c6b33.d64368","59294aa0.2c7ab4"]]},{"id":"1e6fcb0d.8313e5","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload.text = flow.get('message');\nmsg.payload.type = flow.get('type');\nmsg.payload.food = flow.get('food');\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":280,"wires":[["b27a4799.7974e8","56cb9cdc.649014"]]},{"id":"bc95dad8.60b198","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload= flow.get('context');\nmsg.payload.get_pairing = 'false';\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":40,"wires":[[]]},{"id":"a9c5f816.d5ab28","type":"watson-conversation-v1-workspace-manager","z":"2ebae169.651c9e","name":"Wine filtering change","cwm-custom-mode":"updateIntent","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE FILTERING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":2060,"y":220,"wires":[["a4a45f64.4449f"]]},{"id":"a4a45f64.4449f","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dialog_nodes","targetType":"msg","x":2270,"y":220,"wires":[]},{"id":"5f335ea5.46cb3","type":"http in","z":"2ebae169.651c9e","name":"Customization Endpoint","url":"/customization","method":"get","upload":false,"swaggerDoc":"","x":120,"y":760,"wires":[["b9f70c1.89bcdf"]]},{"id":"48299968.35a158","type":"http response","z":"2ebae169.651c9e","name":"Customization output","statusCode":"","headers":{},"x":500,"y":760,"wires":[]},{"id":"23fc726a.a97fee","type":"http request","z":"2ebae169.651c9e","name":"Customization call","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":310,"y":880,"wires":[["23404e17.2370c2"]]},{"id":"b9f70c1.89bcdf","type":"function","z":"2ebae169.651c9e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":820,"wires":[["23fc726a.a97fee"]]},{"id":"23404e17.2370c2","type":"function","z":"2ebae169.651c9e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":820,"wires":[["48299968.35a158"]]},{"id":"f38739b6.bc9ec8","type":"http in","z":"2ebae169.651c9e","name":"Translation Endpoint","url":"/translation","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1000,"wires":[["806af3e2.e612"]]},{"id":"82decca4.b0c7e","type":"http response","z":"2ebae169.651c9e","name":"Translation output","statusCode":"","headers":{},"x":530,"y":1000,"wires":[]},{"id":"806af3e2.e612","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload = msg.req.query.value;\nmsg.destlang = msg.req.query.lang;\nmsg.domain = 'news';\nflow.set('lang', msg.req.query.lang);\nmsg.srclang = 'en';\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1060,"wires":[["6a3b33a3.6c03ec","c027e1f1.d9d88"]]},{"id":"3b3a8273.e23e0e","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload = msg.translation;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1060,"wires":[["82decca4.b0c7e"]]},{"id":"6a3b33a3.6c03ec","type":"watson-translator","z":"2ebae169.651c9e","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"Og7jzPjuxwh3olxbah-HJnp6qghWYJxuyHtBb4XPVGpG","apikey":"butnDp7kFuTJbowyZM7q0juchgLBc2jmbl25ZfUS_jPW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":350,"y":1100,"wires":[["3b3a8273.e23e0e","52d1ce08.4ddcc"]]},{"id":"52d1ce08.4ddcc","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"translation","targetType":"msg","x":540,"y":1140,"wires":[]},{"id":"c027e1f1.d9d88","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":180,"y":1180,"wires":[]},{"id":"cfee22ba.6099e","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":100,"wires":[]},{"id":"e556e3d5.58f7b","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":1430,"y":220,"wires":[]},{"id":"f38229b2.827948","type":"change","z":"2ebae169.651c9e","name":"Set pairing to false","rules":[{"t":"set","p":"payload","pt":"msg","to":"context","tot":"flow"},{"t":"set","p":"payload.get_pairing","pt":"msg","to":"false","tot":"jsonata"},{"t":"set","p":"user","pt":"msg","to":"user_id","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":80,"wires":[[]]},{"id":"54865285.50a10c","type":"watson-conversation-v1-workspace-manager","z":"2ebae169.651c9e","name":"Wine pairing change","cwm-custom-mode":"listIntents","cwm-workspace-id":"c1ae359c-c0da-401a-82e3-94b959e7541f","cwm-intent":"WINE_PAIRING","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":1840,"y":340,"wires":[["bb6b8215.136dd"]]},{"id":"e58ae485.380d58","type":"change","z":"2ebae169.651c9e","name":"Set wine to false","rules":[{"t":"set","p":"payload","pt":"msg","to":"context","tot":"flow"},{"t":"set","p":"payload.get_wines","pt":"msg","to":"false","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":120,"wires":[[]]},{"id":"bb6b8215.136dd","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2050,"y":340,"wires":[]},{"id":"2a9e6ae9.d3a7d6","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1810,"y":460,"wires":[]},{"id":"7721e1ce.3161a","type":"inject","z":"2ebae169.651c9e","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":160,"wires":[["281482ec.2e398e"]]},{"id":"281482ec.2e398e","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload = {\n    Element1 :\"One\",\n    Element2 : \"Two\",\n    Element3 : \"Three\"  \n}\n\nmsg.payload[\"api_err\"] = \"true\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["87e2d7b2.275328"]]},{"id":"87e2d7b2.275328","type":"debug","z":"2ebae169.651c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":160,"wires":[]},{"id":"9109447e.6d84a8","type":"function","z":"2ebae169.651c9e","name":"API call handling","func":"msg.payload = \"correct\"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":380,"wires":[["d86e3569.f89658","2a9e6ae9.d3a7d6"]]},{"id":"59294aa0.2c7ab4","type":"function","z":"2ebae169.651c9e","name":"","func":"msg.payload= flow.get('context' + '-' + flow.set('user_id'));\nmsg.payload.get_pairing = 'false';\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":180,"wires":[["ce9a68d2.ae2978","cfee22ba.6099e"]]},{"id":"ec892e49.66002","type":"function","z":"2ebae169.651c9e","name":"Set wine to false","func":"msg.payload= flow.get('context' + '-' + flow.set('user_id'));\nmsg.payload.get_wines = 'false';\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":340,"wires":[["54865285.50a10c"]]},{"id":"f812438a.3a8fd","type":"http in","z":"2ebae169.651c9e","name":"Template render input","url":"/httpTest/:place_id/:user_id","method":"get","upload":false,"swaggerDoc":"","x":940,"y":960,"wires":[["80bd6b91.03bef8"]]},{"id":"80bd6b91.03bef8","type":"template","z":"2ebae169.651c9e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    <link rel=\"stylesheet\" href=\"css/jquery-ui.min.css\">\n    <link href=\"https://fonts.googleapis.com/css?family=Roboto:400,500\" rel=\"stylesheet\">\n    <script src=\"https://code.jquery.com/jquery-3.4.1.min.js\"></script><script\n  src=\"https://code.jquery.com/ui/1.12.1/jquery-ui.min.js\"\n  integrity=\"sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=\"\n  crossorigin=\"anonymous\"></script>\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.8.1/css/all.css\"\n          integrity=\"sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf\" crossorigin=\"anonymous\">\n\n    <style>\n        body {\n    height: 2000px;\n    background: #cacaca;\n}\n\n#gaspar_button {\n    cursor: pointer;\n    position: fixed;\n    right: 35px;\n    bottom: 50px;\n    border-radius: 100%;\n    width: 60px;\n    height: 60px;\n    color: white;\n    font-size: 30px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    background: #f1824a;\n}\n\n#gaspar_preview_container {\n    background: white;\n    position: fixed;\n    right: 20px;\n    bottom: 135px;\n    border-radius: 15px;\n    width: 240px;\n    height: 90px;\n    display: none;\n    text-align: center;\n    flex-direction: column;\n    justify-items: center;\n    align-items: center;\n}\n\n#gaspar_preview_container::after {\n    content: '';\n    position: absolute;\n    bottom: -20px;\n    right: 20px;\n    border-top: 30px solid white;\n    border-bottom-left-radius: 10px;\n    border-right: 30px solid transparent;\n}\n\n#gaspar_preview_container .preview_text {\n    font-family: 'Roboto', 'sans-serif';\n    font-size: 14px;\n    font-weight: 400;\n    color: #222222;\n    line-height: 20px;\n    position: absolute;\n    bottom: 10px;\n    left: 12px;\n    right: 12px;\n    top: 35px;\n    overflow-y: hidden;\n}\n\n#gaspar_preview_container img {\n    position: absolute;\n    bottom: 67px;\n}\n\n#close_gaspar {\n    display: none;\n}\n\n#gaspar_container {\n    position: fixed;\n    right: 65px;\n    width: 344px;\n    bottom: 150px;\n    display: none;\n    flex-direction: column;\n}\n\n#gaspar_container #gaspar_header {\n    width: 100%;\n    height: 72px;\n    border-radius: 7px 7px 0 0;\n    background: #f1824a;\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    position: relative;\n}\n\n#gaspar_container #gaspar_header #header_text {\n    color: white;\n    font-family: 'Roboto', sans-serif;\n    font-weight: 500;\n    font-size: 18px;\n    line-height: 20px;\n    position: absolute;\n    bottom: 18px;\n}\n\n#gaspar_container #gaspar_header img {\n    position: absolute;\n    bottom: 46px;\n}\n\n#gaspar_container #gaspar_body {\n    height: 343px;\n    width: 100%;\n    background: white;\n    padding: 0 14px 0 0;\n    box-sizing: border-box;\n    border-bottom: 2px solid #F4F4F4;\n}\n\n#gaspar_container #gaspar_body #message_queue {\n    display: flex;\n    flex-direction: column;\n    width: 100%;\n    overflow-y: scroll;\n    overflow-x: hidden;\n    height: 343px;\n    padding: 12px 17px 8px 0;\n    box-sizing: border-box;\n}\n\n#gaspar_container #gaspar_body #message_queue .message {\n    max-width: 200px;\n    font-family: 'Roboto', 'sans-serif';\n    line-height: 18px;\n    font-size: 14px;\n    padding: 10px 12px;\n    margin-top: 12px;\n    box-sizing: border-box;\n    overflow-wrap: break-word;\n}\n\n#gaspar_container #gaspar_body #message_queue .gaspar_message {\n    background: #f1824a;\n    border-radius: 15px 15px 15px 0;\n    font-weight: 400;\n    color: white;\n    align-self: flex-start;\n    margin-left: 48px;\n}\n\n#gaspar_container #gaspar_body #message_queue .user_message {\n    background: #f4f4f4;\n    border-radius: 15px 15px 0 15px;\n    font-weight: 400;\n    color: #222222;\n    align-self: flex-end;\n}\n\n#gaspar_container #gaspar_body #message_queue .button {\n    background: white;\n    border: 1px solid #f1824a;\n    color: #f1824a;\n    font-family: 'Roboto', 'sans-serif';\n    font-weight: 400;\n    font-size: 14px;\n    line-height: 16px;\n    border-radius: 15px;\n    text-align: center;\n    padding: 8px 12px;\n    box-sizing: border-box;\n    transition: .3s ease-in;\n    cursor: pointer;\n    margin-top: 12px;\n    max-width: 200px;\n    margin-left: 48px;\n}\n\n#gaspar_container #gaspar_body #message_queue .filter {\n    font-family: 'Roboto', 'sans-serif';\n    line-height: 20px;\n    font-size: 14px;\n    background: #f4f4f4;\n    border: 1px solid #f4f4f4;\n    border-radius: 15px 15px 0 15px;\n    font-weight: 400;\n    color: #222222;\n    align-self: flex-end;\n    width: 200px;\n    position: absolute;\n    bottom: -115px;\n    z-index: 100;\n    display: none;\n}\n\n#gaspar_container #gaspar_body #message_queue .filter .filter_input{\n    padding-top: 13px;\n    padding-bottom: 12px;\n    padding-left: 12px;\n    display: flex;\n    flex-direction: row;\n}\n\n#gaspar_container #gaspar_body #message_queue .filter .filter_input .filter_input_changeable{\n    width: 150px;\n    margin-left: 10px;\n}\n\n#gaspar_container #gaspar_body #message_queue .filter .filter_input .filter_input_changeable:focus{\n    outline: none;\n}\n\n#gaspar_container #gaspar_body #message_queue .filter .filter_options{\n    overflow-y: scroll;\n    height: 200px;\n    background: white;\n}\n\n#gaspar_container #gaspar_body #message_queue .filter .filter_options::-webkit-scrollbar {\n    width: 3px;\n}\n\n#gaspar_container #gaspar_body #message_queue .filter .filter_options::-webkit-scrollbar-track {\n    background: transparent;\n}\n\n#gaspar_container #gaspar_body #message_queue .filter .filter_options::-webkit-scrollbar-thumb {\n    background: #d9d9d9;\n    border-radius: 4px;\n    width: 10px;\n}\n\n#gaspar_container #gaspar_body #message_queue .filter .filter_options .filter_option{\n    cursor: pointer;\n    height: 30px;\n    padding-left: 12px;\n}\n#gaspar_container #gaspar_body #message_queue .filter .filter_options .filter_option:hover{\n    background: #f4f4f4;\n}\n\n#gaspar_container #gaspar_body #message_queue .button:hover {\n    background: #fdebe4;\n    font-weight: 500;\n    border-color: #fdebe4;\n    transition: .3s ease-in;\n}\n\n#gaspar_container #gaspar_body  #message_queue::-webkit-scrollbar {\n    width: 9px;\n}\n\n#gaspar_container #gaspar_body  #message_queue::-webkit-scrollbar-track {\n    background: transparent;\n}\n\n#gaspar_container #gaspar_body  #message_queue::-webkit-scrollbar-thumb {\n    background: #d9d9d9;\n    border-radius: 4px;\n    width: 10px;\n}\n\n\n#gaspar_container #gaspar_body  #message_queue::-webkit-scrollbar-thumb:hover {\n}\n\n#gaspar_container #gaspar_body #message_queue .carousel_holder {\n    position: relative;\n    overflow: visible;\n    padding: 0 48px;\n}\n\n#gaspar_container #gaspar_body #message_queue .card_carousel {\n    display: flex;\n    flex-direction: row;\n    overflow-x: scroll;\n    overflow-y: hidden;\n    width: 250px;\n    height: 250px;\n    min-height: 250px;\n    position: relative;\n}\n\n#gaspar_container #gaspar_body #message_queue .card_carousel::-webkit-scrollbar {\n    display: none;\n}\n\n#gaspar_container #gaspar_body #message_queue .carousel_holder .carousel_button {\n    position: absolute;\n    top: 50%;\n    z-index: 99;\n    width: 30px;\n    height: 30px;\n    box-sizing: border-box;\n    background: #ffffff;\n    box-shadow: 0 0 1px 2px rgba(0,0,0,0.3);\n    text-align: center;\n    border-radius: 100%;\n    padding: 7px 0;\n    font-size: 16px;\n    color: #929292;\n    cursor: pointer;\n}\n\n#gaspar_container #gaspar_body #message_queue .carousel_holder .carousel_button.left_carousel_button {\n    left: 7px;\n}\n\n#gaspar_container #gaspar_body #message_queue .carousel_holder .carousel_button.right_carousel_button {\n    right: -30px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card {\n    border-radius: 7px;\n    background: #f4f4f4;\n    width: 211px;\n    min-width: 211px;\n    height: 247px;\n    display: flex;\n    flex-direction: column;\n    margin-right: 11px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header {\n    background: url(\"../img/background.png\");\n    background-size: cover;\n    padding: 14px 15px 0;\n    box-sizing: border-box;\n    text-align: center;\n    border-radius: 7px 7px 0 0;\n    position: relative;\n    height: 145px;\n    text-transform: capitalize;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_header_name {\n    color: white;\n    font-family: 'Roboto', 'sans-serif';\n    font-weight: 500;\n    font-size: 12px;\n    line-height: 14px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_header_origin {\n    color: white;\n    font-family: 'Roboto', 'sans-serif';\n    font-weight: 400;\n    font-size: 12px;\n    line-height: 14px;\n    margin-bottom: 4px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images {\n    display: flex;\n    flex-direction: row;\n    align-items: center;\n    justify-content: center;\n    margin-bottom: 16px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images .wine_color {\n    margin-right: 4px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images .wine_image {\n    margin-right: 4px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images .wine_image img{\n    width: 79px;\n    height: 79px;\n    border-radius: 100%;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images .wine_country img{\n    border: 3px solid white;\n    width: 31px;\n    box-sizing: border-box;\n    border-radius: 100%;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_properties {\n    position: absolute;\n    display: flex;\n    flex-direction: row;\n    bottom: -36px;\n    width: 100%;\n    left: 0;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_properties .wine_property {\n    display: flex;\n    flex-direction: column;\n    position: relative;\n    width: 25%;\n    align-items: center;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_properties .wine_property .property_number {\n    color: white;\n    font-family: 'Roboto', 'sans-serif';\n    font-weight: 500;\n    font-size: 12px;\n    padding: 5px 0;\n    box-sizing: border-box;\n    line-height: 14px;\n    width: 30px;\n    height: 30px;\n    border: 3px solid white;\n    background: #99192f;\n    border-radius: 100%;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_properties .wine_property .property_name {\n    color: #222222;\n    text-transform: capitalize;\n    font-family: 'Roboto', 'sans-serif';\n    font-weight: 400;\n    font-size: 10px;\n    line-height: 11px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description {\n    padding: 0 8px 6px;\n    margin-top: 35px;\n    overflow-y: scroll;\n    box-sizing: border-box;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description::-webkit-scrollbar {\n    width: 3px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description::-webkit-scrollbar-track {\n    background: transparent;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description::-webkit-scrollbar-thumb {\n    background: #d9d9d9;\n    border-radius: 4px;\n    width: 10px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description .wine_description_name {\n    font-family: 'Roboto', 'sans-serif';\n    font-weight: 500;\n    font-size: 12px;\n    line-height: 14px;\n    color: #222222;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description .wine_description_text {\n    font-family: 'Roboto', 'sans-serif';\n    font-weight: 400;\n    font-size: 12px;\n    line-height: 14px;\n    color: #222222;\n    margin-top: 4px;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description .wine_description_text.second_text {\n    display: none;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description .wine_description_text .notes_read_more{\n    color: #f1824a;\n    font-style: italic;\n    cursor: pointer;\n}\n\n#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description .wine_description_text .notes_read_less{\n    color: #f1824a;\n    font-style: italic;\n    cursor: pointer;\n}\n\n#gaspar_container #gaspar_body #message_queue #waves_message {\n    display: none;\n    position: absolute;\n    bottom: 78px;\n    margin-bottom: 12px;\n}\n\n#gaspar_container #gaspar_body #message_queue #waves_message #wave {\n    position: relative;\n    text-align: center;\n    margin-left: auto;\n    margin-right: auto;\n}\n\n#gaspar_container #gaspar_body #message_queue #waves_message #wave .dot {\n    display: inline-block;\n    width: 6px;\n    height: 6px;\n    border-radius: 50%;\n    margin-right: 1px;\n    background: white;\n    animation: wave 1.3s linear infinite;\n}\n\n#gaspar_container #gaspar_body #message_queue #waves_message #wave .dot:nth-child(2) {\n     animation-delay: -1.1s;\n }\n\n#gaspar_container #gaspar_body #message_queue #waves_message #wave .dot:nth-child(3) {\n     animation-delay: -0.9s;\n}\n\n@keyframes wave {\n    0%, 60%, 100% {\n        transform: initial;\n    }\n\n    30% {\n        transform: translateY(-10px);\n    }\n}\n\n#gaspar_container #gaspar_bottom {\n    width: 100%;\n    height: 77px;\n    border-radius: 0 0 0 7px;\n    background: white;\n    position: relative;\n    display: flex;\n    justify-content: center;\n}\n\n#gaspar_container #gaspar_bottom #gaspar_input {\n    width: 248px;\n    overflow-y: scroll;\n    position: absolute;\n    left: 16px;\n    top: 12px;\n    cursor: text;\n    font-size: 14px;\n    font-family: 'Roboto', 'sans-serif';\n    font-weight: 400;\n}\n\n#gaspar_container #gaspar_bottom #gaspar_input::before {\n    content: attr(placeholder);\n    position: absolute;\n    top: 0;\n    left: 0;\n    opacity: 0.5;\n    transition: .4s ease-in;\n    font-size: 14px;\n    font-family: 'Roboto', 'sans-serif';\n    font-weight: 400;\n}\n\n#gaspar_container #gaspar_bottom #gaspar_input:focus::before {\n    content: '';\n    opacity: 0;\n    transition: .4s ease-in;\n}\n\n#gaspar_container #gaspar_bottom #send_button {\n    position: absolute;\n    right: 48px;\n    color: #f1824a;\n    top: 14px;\n    cursor: pointer;\n}\n\n#gaspar_container #gaspar_bottom #gaspar_input:focus {\n    outline: none;\n}\n\n#gaspar_container #gaspar_bottom #gaspar_input::-webkit-scrollbar {\n    width: 3px;\n}\n\n#gaspar_container #gaspar_bottom #gaspar_input::-webkit-scrollbar-track {\n    background: transparent;\n}\n\n#gaspar_container #gaspar_bottom #gaspar_input::-webkit-scrollbar-thumb {\n    background: #d9d9d9;\n    border-radius: 4px;\n    width: 10px;\n}\n\n/*#gaspar_container #gaspar_bottom::after {*/\n/*content: '';*/\n/*background: url(\"../img/chatbot body_tail.png\");*/\n/*position: absolute;*/\n/*!*border-top: 34px solid white;*!*/\n/*!*border-left: 34px solid transparent;*!*/\n/*height: 34px;*/\n/*width: 34px;*/\n/*right: 0;*/\n/*bottom: -34px;*/\n/*}*/\n\n#gaspar_container #gaspar_bottom .gaspar_tail {\n    width: 50px;\n    height: 34px;\n    position: absolute;\n    right: 0;\n    bottom: -33px;\n}\n\n#gaspar_container #gaspar_bottom #bottom_text {\n    position: absolute;\n    bottom: -5px;\n    color: black;\n    opacity: 0.5;\n    font-family: 'Roboto', sans-serif;\n    font-weight: 400;\n    line-height: 14px;\n    font-size: 12px;\n}\n\n#gaspar_container #gaspar_bottom #bottom_text #orange_text {\n    font-weight: 500;\n    color: #f1824a;\n    text-decoration: none;\n}\n\n\n\n    </style>\n<div id=\"gaspar_container\">\n    <div id=\"gaspar_header\">\n        <img src=\"img/Chat%20bot%20user%20pic_big.png\">\n        <span id=\"header_text\">\n                Gaspar the Sommelier\n            </span>\n    </div>\n    <div id=\"gaspar_body\">\n        <div id=\"message_queue\">\n            <div class=\"filter\">\n                <div class=\"filter_input\">\n                    <i class=\"fas fa-search\"></i>\n                    <div class=\"filter_input_changeable\" contenteditable=\"true\">\n\n                    </div>\n                </div>\n                <div class=\"filter_options\">\n\n                </div>\n            </div>\n            <div id=\"waves_message\" class=\"message gaspar_message\">\n                <div id=\"wave\">\n                    <span class=\"dot\"></span>\n                    <span class=\"dot\"></span>\n                    <span class=\"dot\"></span>\n                </div>\n            </div>\n        </div>\n    </div>\n    <div id=\"gaspar_bottom\">\n        <div id=\"gaspar_input\" contenteditable=\"true\" placeholder=\"Compose your message\">\n\n        </div>\n        <div id=\"send_button\">\n            <i class=\"fas fa-paper-plane\"></i>\n        </div>\n        <p id=\"bottom_text\">\n            Powered by <a target=\"_blank\" href=\"https://www.winepicker.co.uk/\" id=\"orange_text\">Wine Picker</a>\n        </p>\n        <img class=\"gaspar_tail\" src=\"img/chatbot%20body_tail.png\">\n    </div>\n</div>\n<div id=\"gaspar_button\">\n    <i class=\"fas fa-comments open_gaspar\"></i>\n    <img id=\"close_gaspar\" src=\"img/close%20the%20chat.png\">\n</div>\n<div id=\"gaspar_preview_container\">\n    <img src=\"img/Chat%20bot%20user%20pic_big.png\">\n    <span class=\"preview_text\">Hello! My name is Gaspar, I will be your sommelier today</span>\n</div>\n<script>\n    jQuery(document).ready(function ($) {\n    let containers = {\n        BUTTON: '#gaspar_button',\n        CONTAINER: '#gaspar_container',\n        PREVIEW_CONTAINER: '#gaspar_preview_container',\n        OPEN_ICON: '.open_gaspar',\n        CLOSE_ICON: '#close_gaspar',\n        INPUT: '#gaspar_input',\n        SEND_BUTTON: '#send_button',\n        QUEUE: '#message_queue'\n    };\n\n    let gaspar = {\n        button: $(containers.BUTTON),\n        body: $(containers.CONTAINER),\n        input: $(containers.INPUT),\n        send: $(containers.SEND_BUTTON),\n        messageQueue: [],\n        previewTimer: null,\n        opened: false,\n        foodList: [],\n        wineList: [],\n        place: {{msg.req.query.place_id}},\n        lang: 'en',\n        user_id: {{msg.req.query.user_id}},\n        wines: false,\n        pairing: false,\n        pause_timer: 700,\n        type_timer: 1500,\n        wineMessage: '',\n        previous_sender: 'gaspar',\n        initialize: function () {\n            let self = this;\n            this.button.on('click', self.clickButton);\n            let preview = $(containers.PREVIEW_CONTAINER);\n            this.input.keydown(function (e) {\n                e.keyCode === 13 ? (e.preventDefault(), self.inputSended()) : null;\n            });\n            this.send.on('click', function () {\n                self.inputSended();\n            });\n            this.input.on('input', function () {\n                $('#gaspar_bottom').outerHeight(60 + $('#gaspar_input').outerHeight());\n            });\n            let new_id = self.getRandomId(1000, 9999);\n            console.log(`ID: ${new_id}`);\n            let cookie = self.getCookie('user_id');\n            if (!cookie) {\n                self.setCookie('user_id', new_id);\n            }\n            self.user_id = cookie;\n            console.log(`Cookie: ${cookie}`);\n            self.postToAPI('Hello');\n        },\n        getRandomId: function (min, max) {\n            return Math.floor(Math.random() * (max - min)) + min;\n        },\n        clickButton: function () {\n            let self = this;\n            let body = $(containers.CONTAINER);\n            let preview = $(containers.PREVIEW_CONTAINER);\n            if (!self.opened) {\n                $(containers.PREVIEW_CONTAINER).hide('drop', {direction: 'down'}, 600);\n                clearTimeout(self.previewTimer);\n                $(containers.BUTTON).hide('scale', {percent: 0, direction: 'horizontal'}, 600, function () {\n                    $(containers.OPEN_ICON).css('display', 'none');\n                    $(containers.CLOSE_ICON).css('display', 'block');\n                    $(containers.BUTTON).show('scale', {percent: 0, direction: 'horizontal'}, 600);\n                });\n                body.toggle('drop', {direction: 'down'}, 1000, function () {\n                    body.css('display', 'flex');\n                });\n                self.opened = true;\n            } else {\n                body.toggle('drop', {direction: 'down'}, 1000);\n                $(containers.BUTTON).hide('scale', {percent: 0, direction: 'horizontal'}, 600, function () {\n                    $(containers.OPEN_ICON).css('display', 'block');\n                    $(containers.CLOSE_ICON).css('display', 'none');\n                    $(containers.BUTTON).show('scale', {percent: 0, direction: 'horizontal'}, 600);\n                });\n                self.opened = false;\n                self.previewTimer = setTimeout(function () {\n                    $(containers.PREVIEW_CONTAINER).show('drop', {direction: 'down'}, 600);\n                }, 10000);\n                clearTimeout(self.previewTimer);\n            }\n        },\n        inputSended: function (text) {\n            let inputText = text || $(containers.INPUT).text();\n            $('.filter').hide('drop', {direction: 'right'}, 700);\n            $('#message_queue').animate({paddingBottom: '8px'}, 600);\n            let self = this;\n            self.addMessage(inputText, 'user', 'text');\n            $(containers.INPUT).empty();\n        },\n        addMessage: function (value, sender, type) {\n            let self = this;\n            setTimeout(function () {\n                let options = {direction: ''};\n                sender === 'gaspar' ? (options.direction = 'up') : options.direction = 'right';\n                switch (type) {\n                    case 'text':\n                        self.addText(value, sender, options);\n                        break;\n                    case 'button':\n                        self.addButtons(value, options, sender);\n                        break;\n                    case 'carousel':\n                        self.addCarousel(value);\n                        break;\n                }\n                self.messageQueue.length === 0 ?\n                    self.scrollQuery(400) : null;\n            }, 600);\n        },\n        addText: function (text, sender, options) {\n            let self = this;\n            let newMessage = document.createElement('div');\n            $(newMessage).addClass('message ' + sender + '_message');\n            $(newMessage).css('display', 'none');\n            if (self.lang !== 'en') {\n                let myInit = {\n                    method: 'GET'\n                };\n                let request = new Request('http://localhost:1880/translation/?value=' + text + '&lang=' + self.lang, myInit);\n                fetch(request).then(function (response) {\n                    return response.json();\n                }).then(function (jsonResponse) {\n                    let translated = jsonResponse.response.translations[0].translation;\n                    $(newMessage).append(translated);\n                    $(newMessage).appendTo(containers.QUEUE);\n                    $(newMessage).show('drop', options, 400);\n                });\n            } else {\n                $(newMessage).addClass('message ' + sender + '_message');\n                $(newMessage).append(text);\n                $(newMessage).appendTo(containers.QUEUE);\n                $(newMessage).show('drop', options, 400);\n            }\n            if (sender === self.previous_sender) {\n                setTimeout(() => {\n                    $(newMessage).animate({marginTop: '5px'}, 200);\n                }, 500);\n            }\n            $('#gaspar_preview_container').find('.preview_text').empty().text(text);\n            if (sender === 'user') {\n                self.postToAPI(text);\n            } else {\n                if ($('#gaspar_container').css('display') !== 'flex') {\n                    $('#gaspar_preview_container').show('drop', options, 700);\n                }\n            }\n            self.previous_sender = sender;\n        },\n        addButtons: function (button, options, sender) {\n            let self = this;\n            let newMessage = document.createElement('div');\n            $(newMessage).addClass('button');\n            if (self.lang !== 'en') {\n                let myInit = {\n                    method: 'GET'\n                };\n                let request = new Request('http://localhost:1880/translation/?value=' + button.label + '&lang=' + self.lang, myInit);\n                fetch(request).then(function (response) {\n                    return response.json();\n                }).then(function (jsonResponse) {\n                    button.label = jsonResponse.response.translations[0].translation;\n                    $(newMessage).append(button.label);\n                    $(newMessage).css('display', 'none');\n                    newMessage.addEventListener('click', function () {\n                        let regExp = /:\\s(\\w*)/gi;\n                        let buttonLocale = regExp.exec(button.label);\n                        if (!buttonLocale) {\n                            self.addMessage(button.label, 'user', 'text');\n                        } else {\n                            self.lang = buttonLocale[1];\n                            self.postToAPI('Hello');\n                        }\n                    });\n                    $(newMessage).appendTo(containers.QUEUE);\n                    $(newMessage).show('drop', options, 400);\n                });\n            } else {\n                $(newMessage).append(button.label);\n                $(newMessage).css('display', 'none');\n                newMessage.addEventListener('click', function () {\n                    let regExp = /:\\s(\\w*)/gi;\n                    let buttonLocale = regExp.exec(button.label);\n                    if (!buttonLocale) {\n                        self.addMessage(button.label, 'user', 'text');\n                    } else {\n                        self.lang = buttonLocale[1];\n                        self.postToAPI('Hello');\n                    }\n                });\n                $(newMessage).appendTo(containers.QUEUE);\n                $(newMessage).show('drop', options, 400);\n            }\n            if (sender === self.previous_sender) {\n                setTimeout(() => {\n                    $(newMessage).animate({marginTop: '5px'}, 200);\n                }, 500);\n            }\n            if (sender === self.previous_sender) {\n                $(newMessage).css('margin-top', '5px');\n            }\n            self.previous_sender = sender;\n        },\n        addCarousel: function (cards) {\n            let self = this;\n            let carousel = document.createElement('div');\n            $(carousel).addClass('card_carousel');\n            cards.forEach(function (card) {\n                let imageHolder = card.image || 'img/wines_in_my_wish_list.jpg';\n                let _score = card.overall_wp_score;\n                let foodMatch = card.normalised_foodmatch || null;\n                let normalizedMatch = '';\n                let notes = card.wm_notes.slice(0, 80);\n                let notesMore = '';\n                if (card.wm_notes.length > 0) {\n                    notesMore = 'Read More'\n                }\n                if (card.wine_subtype_name.length > 0) {\n                    card.wine_subtype_name = ', ' + card.wine_subtype_name;\n                }\n                if (foodMatch) {\n                    normalizedMatch = foodMatch.toString().slice(0, 3);\n                } else {\n                    normalizedMatch = 'null';\n                }\n                let score = _score.toString().slice(0, 3);\n                let bottleSize = '';\n                if (card.price_koeff >= 0.375 && card.price_koeff <= 0.5) {\n                    bottleSize = '1_2 bottle';\n                } else if (card.price_koeff > 0.5 && card.price_koeff <= 1.0) {\n                    bottleSize = 'bottle';\n                } else if (card.price_koeff > 1.0) {\n                    bottleSize = 'big bottle';\n                }\n                let colorIMG = 'img/' + card.wine_type_name + '/' + bottleSize + '.png';\n                let ratingColor = '';\n                let scoreColor = '';\n                let matchColor = '';\n                if (card.overall_rating > 60 && card.overall_rating <= 65) {\n                    ratingColor = '#ca2d26';\n                } else if (card.overall_rating > 65 && card.overall_rating <= 70) {\n                    ratingColor = '#de5a25';\n                } else if (card.overall_rating > 70 && card.overall_rating <= 75) {\n                    ratingColor = '#f47220';\n                } else if (card.overall_rating > 75 && card.overall_rating <= 80) {\n                    ratingColor = '#f8b316';\n                } else if (card.overall_rating > 80 && card.overall_rating <= 85) {\n                    ratingColor = '#d4da22';\n                } else if (card.overall_rating > 85 && card.overall_rating <= 90) {\n                    ratingColor = '#abd036';\n                } else if (card.overall_rating > 90 && card.overall_rating <= 95) {\n                    ratingColor = '#75c042';\n                } else if (card.overall_rating > 95) {\n                    ratingColor = '#3ab764';\n                }\n                if (normalizedMatch > 2 && normalizedMatch <= 3) {\n                    matchColor = '#ca2d26';\n                } else if (normalizedMatch > 3 && normalizedMatch <= 4) {\n                    matchColor = '#de5a25';\n                } else if (normalizedMatch > 4 && normalizedMatch <= 5) {\n                    matchColor = '#f47220';\n                } else if (normalizedMatch > 5 && normalizedMatch <= 6) {\n                    matchColor = '#f8b316';\n                } else if (normalizedMatch > 6 && normalizedMatch <= 7) {\n                    matchColor = '#d4da22';\n                } else if (normalizedMatch > 7 && normalizedMatch <= 8) {\n                    matchColor = '#abd036';\n                } else if (normalizedMatch > 8 && normalizedMatch <= 9) {\n                    matchColor = '#75c042';\n                } else if (normalizedMatch > 9 && normalizedMatch <= 10) {\n                    matchColor = '#3ab764';\n                }\n                if (score > 2 && score <= 3) {\n                    scoreColor = '#ca2d26';\n                } else if (score > 3 && score <= 4) {\n                    scoreColor = '#de5a25';\n                } else if (score > 4 && score <= 5) {\n                    scoreColor = '#f47220';\n                } else if (score > 5 && score <= 6) {\n                    scoreColor = '#f8b316';\n                } else if (score > 6 && score <= 7) {\n                    scoreColor = '#d4da22';\n                } else if (score > 7 && score <= 8) {\n                    scoreColor = '#abd036';\n                } else if (score > 8 && score <= 9) {\n                    scoreColor = '#75c042';\n                } else if (score > 9 && score <= 10) {\n                    scoreColor = '#3ab764';\n                }\n                $(carousel).append(`<div class=\"wine_card\">\n                                        <div class=\"wine_card_header\">\n                                            <div class=\"wine_header_name\">\n                                                ` + card.wine_name + `` + card.wine_subtype_name + `\n                                            </div>\n                                            <div class=\"wine_header_origin\">\n                                                ` + card.wine_year + ` ` + card.area_name + `\n                                            </div>\n                                            <div class=\"wine_images\">\n                                                <div class=\"wine_color\">\n                                                    <img src=\"` + colorIMG + `\">\n                                                </div>\n                                                <div class=\"wine_image\">\n                                                    <img src=\"` + imageHolder + `\">\n                                                </div>\n                                                <div class=\"wine_country\">\n                                                    <img src=\"` + card.country_flag + `\">\n                                                </div>\n                                            </div>\n                                            <div class=\"wine_properties\">\n                                                <div class=\"wine_property\">\n                                                    <span class=\"property_number\">` + card.price + `</span>\n                                                    <span class=\"property_name\">price</span>\n                                                </div>\n                                                <div class=\"wine_property\">\n                                                    <span class=\"property_number\" style=\"background: ${matchColor}\">` + normalizedMatch + `</span>\n                                                    <span class=\"property_name\">food match</span>\n                                                </div>\n                                                <div class=\"wine_property\">\n                                                     <span class=\"property_number\" style=\"background: ${ratingColor}\">` + card.overall_rating + `</span>\n                                                     <span class=\"property_name\">rating</span>\n                                                </div>\n                                                <div class=\"wine_property\">\n                                                    <span class=\"property_number\" style=\"background: ${scoreColor}\">` + score + `</span>\n                                                    <span class=\"property_name\">score</span>\n                                                </div>\n                                            </div>\n                                        </div>\n                                        <div class=\"wine_card_description\">\n                                            <span class=\"wine_description_name\">` + card.main_view_grape + `</span>\n                                            <p class=\"wine_description_text first_text\">\n                                                ` + notes + `<span class=\"notes_read_more\">` + notesMore + `</span>\n                                            </p>\n                                            <p class=\"wine_description_text second_text\">\n                                                ` + card.wm_notes + `<span class=\"notes_read_less\">Read Less</span>\n                                            </p>\n                                        </div>\n                                    </div>`);\n            });\n            let leftButton = document.createElement('div');\n            $(leftButton).addClass('carousel_button left_carousel_button');\n            $(leftButton).on('click', function () {\n                let currentScroll = $(carousel).scrollLeft();\n                $('.card_carousel').animate({scrollLeft: currentScroll - 222}, 700);\n            });\n            $(leftButton).append('<i class=\"fas fa-chevron-left\"></i>');\n            let rightButton = document.createElement('div');\n            $(rightButton).addClass('carousel_button right_carousel_button');\n            $(rightButton).on('click', function () {\n                let currentScroll = $(carousel).scrollLeft();\n                $('.card_carousel').animate({scrollLeft: currentScroll + 222}, 700);\n            });\n            $(rightButton).append('<i class=\"fas fa-chevron-right\"></i>');\n            let carouselWrap = document.createElement('div');\n            $(carouselWrap).addClass('carousel_holder');\n            $(carouselWrap).append(leftButton);\n            $(carouselWrap).append(rightButton);\n            $(carouselWrap).append(carousel);\n            $('#message_queue').append(carouselWrap);\n            $('.notes_read_more').on('click', function () {\n                $(this).parent().parent().parent().parent().animate({height: '324px', marginTop: '5px'}, 400);\n                $('.wine_card').animate({marginTop: '77px'}, 500);\n                $(this).parent().parent().parent().animate({height: '324px', marginTop: '0'}, 700);\n                $(this).parent().parent().parent().find('.wine_description_text.first_text').css('display', 'none');\n                $(this).parent().parent().parent().find('.wine_description_text.second_text').css('display', 'block');\n                self.scrollQuery(400);\n            });\n            $('.notes_read_less').on('click', function () {\n                $(this).parent().parent().parent().parent().animate({height: '250', marginTop: '5px'}, 400);\n                $('.wine_card').animate({marginTop: '0'}, 500);\n                $(this).parent().parent().parent().animate({height: '324px', marginTop: '0'}, 700);\n                $(this).parent().parent().parent().find('.wine_description_text.first_text').css('display', 'block');\n                $(this).parent().parent().parent().find('.wine_description_text.second_text').css('display', 'none');\n                self.scrollQuery(400);\n            });\n        },\n        setCookie: function (name, value, options) {\n            options = options || {};\n\n            var expires = options.expires;\n\n            if (typeof expires === 'number' && expires) {\n                var d = new Date();\n                d.setTime(d.getTime() + expires * 1000);\n                expires = options.expires = d;\n            }\n            if (expires && expires.toUTCString) {\n                options.expires = expires.toUTCString();\n            }\n\n            value = encodeURIComponent(value);\n\n            var updatedCookie = name + '=' + value;\n\n            for (var propName in options) {\n                updatedCookie += '; ' + propName;\n                var propValue = options[propName];\n                if (propValue !== true) {\n                    updatedCookie += '=' + propValue;\n                }\n            }\n\n            document.cookie = updatedCookie;\n        },\n        getCookie: function (name) {\n            var matches = document.cookie.match(new RegExp(\n                // eslint-disable-next-line no-useless-escape\n                '(?:^|; )' + name.replace(/([\\.$?*|{}\\(\\)\\[\\]\\\\\\/\\+^])/g, '\\\\$1') + '=([^;]*)'\n            ));\n            return matches ? decodeURIComponent(matches[1]) : undefined;\n        },\n        deleteCookie: function (name) {\n            const self = this;\n            self.setCookie(name, '', {\n                expires: -1\n            });\n        },\n        postToAPI: function (value, exit_case) {\n            exit_case = exit_case || false;\n            let myInit = {\n                method: 'GET'\n            };\n            let self = this;\n            let request = new Request('http://localhost:1880/watson/' + self.user_id + '/' + self.place + '/?value=' + value + '&lang=' + self.lang + '&wines=' + self.wines + '&pairing=' + self.pairing, myInit);\n            fetch(request).then(function (response) {\n                return response.json();\n            }).then(function (jsonResponse) {\n                console.log(jsonResponse);\n                if (!exit_case) {\n                    switch (jsonResponse.type) {\n                        case 'dishes':\n                            self.foodList = jsonResponse.data;\n                            $('.filter_options').empty();\n                            $('.filter_input_changeable').empty();\n                            jsonResponse.data.forEach(function (dish) {\n                                $('.filter').find('.filter_options').append('<div class=\"filter_option\">' + dish + '</div>');\n                            });\n                            jsonResponse.text.forEach(function (step) {\n                                if (step.response_type === 'text') {\n                                    self.messageQueue.push({value: step.text, sender: 'gaspar', type: 'text'});\n                                } else if (step.response_type === 'option') {\n                                    self.messageQueue.push({value: step.title, sender: 'gaspar', type: 'text'});\n                                    step.options.forEach(function (option) {\n                                        self.messageQueue.push({value: option, sender: 'gaspar', type: 'button'});\n                                    });\n                                }\n                            });\n                            self.flushQueue(self.messageQueue);\n                            setTimeout(() => {\n                                $('#message_queue').animate({paddingBottom: '60px'}, 200);\n                                $('.filter').show('drop', {direction: 'right'}, 600);\n                            }, self.type_timer + 1000);\n                            $('.filter_input_changeable').keydown(function (e) {\n                                e.keyCode === 13 ? (e.preventDefault(), self.inputSended($('.filter_input_changeable').text())) : null;\n                            });\n                            $('.filter_input_changeable').on('input', () => {\n                                let filteredFood = self.foodList.filter(function (element) {\n                                    let ignoreCase = element.toLowerCase();\n                                    let text = $('.filter_input_changeable').text().toLowerCase();\n                                    return ignoreCase.includes(text);\n                                    // return element.includes($('.filter_input_changeable').text());\n                                });\n                                $('.filter').find('.filter_options').empty();\n                                filteredFood.forEach((food) => {\n                                    $(' .filter').find('.filter_options').append('<div class=\"filter_option\">' + food + '</div>');\n                                });\n                                $('.filter_option').on('click', function () {\n                                    self.findFood = true;\n                                    $('.filter').hide('drop', {direction: 'right'}, 700);\n                                    self.addMessage($(this).text(), 'user', 'text');\n                                    $('#message_queue').animate({paddingBottom: '8px'}, 700);\n                                });\n                            });\n                            $('.filter_option').on('click', function () {\n                                $('.filter').hide('drop', {direction: 'right'}, 700);\n                                self.findFood = true;\n                                self.addMessage($(this).text(), 'user', 'text');\n                                $('#message_queue').animate({paddingBottom: '8px'}, 700);\n                            });\n                            break;\n                        case 'wines':\n                            jsonResponse.text.forEach(function (step) {\n                                if (step.response_type === 'text') {\n                                    self.messageQueue.push({value: step.text, sender: 'gaspar', type: 'text'});\n                                } else if (step.response_type === 'option') {\n                                    self.messageQueue.push({value: step.title, sender: 'gaspar', type: 'text'});\n                                    step.options.forEach(function (option) {\n                                        self.messageQueue.push({value: option, sender: 'gaspar', type: 'button'});\n                                    });\n                                }\n                            });\n                            self.messageQueue.push({value: jsonResponse.message, sender: 'gaspar', type: 'text'});\n                            self.messageQueue.push({value: jsonResponse.data, sender: 'gaspar', type: 'carousel'});\n                            self.flushQueue(self.messageQueue);\n                            // self.postToAPI('Exit', true);\n                            self.wines = 'true';\n                            self.pairing = 'false';\n                            break;\n                        case 'pairing':\n                            jsonResponse.text.forEach(function (step) {\n                                if (step.response_type === 'text') {\n                                    self.messageQueue.push({value: step.text, sender: 'gaspar', type: 'text'});\n                                } else if (step.response_type === 'option') {\n                                    self.messageQueue.push({value: step.title, sender: 'gaspar', type: 'text'});\n                                    step.options.forEach(function (option) {\n                                        self.messageQueue.push({value: option, sender: 'gaspar', type: 'button'});\n                                    });\n                                }\n                            });\n                            self.messageQueue.push({value: jsonResponse.message, sender: 'gaspar', type: 'text'});\n                            self.wineList = jsonResponse.data;\n                            self.messageQueue.push({value: jsonResponse.data, sender: 'gaspar', type: 'carousel'});\n                            self.flushQueue(self.messageQueue);\n                            // self.postToAPI('Exit', true);\n                            self.pairing = 'true';\n                            self.wines = 'false';\n                            break;\n                        case 'other':\n                            jsonResponse.response.forEach(function (step) {\n                                if (step.response_type === 'text') {\n                                    self.messageQueue.push({value: step.text, sender: 'gaspar', type: 'text'});\n                                } else if (step.response_type === 'option') {\n                                    self.messageQueue.push({value: step.title, sender: 'gaspar', type: 'text'});\n                                    step.options.forEach(function (option) {\n                                        self.messageQueue.push({value: option, sender: 'gaspar', type: 'button'});\n                                    });\n                                }\n                            });\n                            self.flushQueue(self.messageQueue);\n                            break;\n                    }\n                }\n            });\n        },\n        showPreview: function (text) {\n            let self = this;\n            self.previewTimer = setTimeout(function () {\n                $(containers.PREVIEW_CONTAINER).show('drop', {direction: 'down'}, 600);\n            }, 10000);\n            clearTimeout(self.previewTimer);\n        },\n        flushQueue: function (currentQueue) {\n            let self = this;\n            if (currentQueue.length > 0) {\n                let currentElement = currentQueue.shift();\n                setTimeout(() => {\n                    $('#message_queue').animate({paddingBottom: '60px'}, 200);\n                    self.scrollQuery(400);\n                    $('#waves_message').show('drop', {'direction': 'left'}, 800);\n                    setTimeout(() => {\n                        $('#message_queue').animate({paddingBottom: '8px'}, 400);\n                        $('#waves_message').hide('drop', {'direction': 'left'}, 300);\n                        self.addMessage(currentElement.value, currentElement.sender, currentElement.type);\n                        self.flushQueue(currentQueue);\n                    }, self.type_timer);\n                }, self.pause_timer);\n            }\n        },\n        scrollQuery: function (timeout) {\n            $(containers.QUEUE).animate({scrollTop: $(containers.QUEUE)[0].scrollHeight}, timeout);\n        }\n    };\n    gaspar.initialize();\n});\n</script>","output":"str","x":1160,"y":960,"wires":[["ca95cd64.ab1c4"]]},{"id":"ca95cd64.ab1c4","type":"http response","z":"2ebae169.651c9e","name":"Template render input","statusCode":"","headers":{},"x":1380,"y":960,"wires":[]}]